%p
  The following Terms of Use govern and apply to your access and use of our website (getsyme.com) (the “Site”) and our software, as well as the service provided through the Site and software (the “Service”). By accessing or using our website, software or the Service (collectively “Syme”), you signify your agreement to these Terms of Use. This is a contract between you, the user, and Syme Solutions Inc. (the “Company”). 

%h4 PRIVACY POLICY

%p
  We respect the privacy of our users. Please refer to the Company’s 
  <a href="#" class="link-to-privacy-policy">Privacy Policy</a>, which explains
  how we collect, use, and disclose information.When you access or use the Service, you signify your agreement to this Privacy Policy.

%h4 ABOUT THE SERVICE

%p
  The Service is an encrypted communication tool for groups. The Service allows you to create and/or join private groups and share with the people within them.

%h4 REGISTRATION

%p
  You need to be at least 13 years old to register for and use the Service.

%p
 If you are a user who signs up for the Service, you will create an account, which includes your name, your email and a password, in order to access the Service and to receive messages from us.  You agree to notify us immediately of any unauthorized use of your password and/or account. We will not be responsible for any liabilities, losses, or damages arising out of the unauthorized use of your username, password and/or account. 

%h4 ACCEPTABLE USE

%p
  Your permission to use the Site is conditioned upon the following Use Restrictions
  and Conduct Restrictions: You agree that you will not under any circumstances:

  %ul
    %li
      use the service for any unlawful purpose or for the promotion of illegal activities;

    %li
      use another user’s account without permission;

    %li
      interfere or attempt to interfere with the proper functioning of the Service;

    %li
      make any automated use of the system, or take any action that we deem to impose
      or to potentially impose an unreasonable or disproportionately large load on our
      servers or network infrastructure;

    %li
      publish or link to malicious content intended to damage or disrupt another user’s
      browser or computer;

    %li
      modify, adapt or hack the Service or modify another website so as to falsely imply
      that it is associated with Syme;

    %li
      transmit any viruses or any code of a destructive nature;

    %li
      do anything which impairs the proper operation of our network;

    %li
      copy or distribute Syme or other content without written permission from us;

    %li
      execute or attempt to execute a “Denial of Service” attack.

%h4 POSTING AND CONDUCT RESTRICTIONS

%p
  You are solely responsible for the User Content that you post, upload, link to or
  otherwise make available via the Service. You agree that we are only acting as a
  passive conduit for your online distribution and publication of your User Content.

%p
  The following rules pertain to User Content. By transmitting and submitting any User
  Content while using the Service, you agree as follows:

  %ul
    %li
      You are solely responsible for your account and the activity that occurs while
      signed in to or while using your account;

    %li
      You will not submit content that is copyrighted or subject to third party proprietary
      rights, including privacy, publicity, trade secret, etc., unless you are the owner of
      such rights or have the appropriate permission from their rightful owner to specifically
      submit such content; and...

    %li
      You hereby affirm we have the right to terminate your account with or without prior notice.

    %li
      You will not transmit or submit: (i) any unlawful, harassing, hateful, racially or ethnically offensive, threatening, libelous, defamatory, obscene, pornographic, or other material or content that would violate rights of publicity and/or privacy or that would violate any law; (ii) any falsehoods or misrepresentations that could damage us, our users or any third party; (iii)  anything which impersonates another person or represents yourself as affiliated with us, our staff or other industry professionals; (iv) anything which solicits a user's password or other account information; (v) anything which harvests user names, addresses, or email addresses for any purpose; and (vi) any viruses or other computer instructions or technological means whose purpose is to disrupt, damage, or interfere with the use of computers or related systems.

%p
  The above list is an example only and is not intended to be complete or exclusive. We don’t have an obligation to monitor your access to or use of Syme or to review or edit any content.

%p
  You understand and agree that any liability, loss or damage that occurs as a result of the use of any User Content that you make available or access through your use of Syme is solely your responsibility. The Company is not responsible for any display or misuse of your User Content. The Company does not, and cannot, pre-screen or monitor User Content. 

%h4 ONLINE CONTENT DISCLAIMER

%p
  Opinions, advice, statements, offers, or other information or content made available through Syme, but not directly by the Company, are those of their respective authors, and should not necessarily be relied upon.  Such authors are solely responsible for such content.  The Company does not guarantee the accuracy, completeness, or usefulness of any information on Syme and neither does the Company adopt nor endorse, nor is the Company responsible for, the accuracy or reliability of any opinion, advice, or statement made by parties other than the Company.  The Company takes no responsibility and assumes no liability for any User Content that you or any other user or third party posts or sends over Syme.  Under no circumstances will the Company be responsible for any loss or damage resulting from anyone’s reliance on information or other content posted on Syme, or transmitted to users. 

%p
  Though the Company strives to enforce these Terms of Use, you may be exposed to User Content that is inaccurate or objectionable.  The Company reserves the right, but has no obligation, to limit or deny a user’s access to Syme or take other appropriate action if a user violates these Terms of Use. If you become aware of misuse of Syme, please contact us at contact@getsyme.

%h4 CONTENT

%p
  We do NOT claim any ownership rights in the text, files, images, photos, videos, sounds,
  musical works, or any other materials (collectively, “Content”) that you post on or through the Service.

%h4 USER CONSENT TO RECEIVE COMMUNICATIONS IN ELECTRONIC FORM

%p
  For contractual purposes, you (a) consent to receive communications from the Company in an electronic form via the email address you have submitted; and (b) agree that all Terms of Use, agreements, notices, disclosures, and other communications that the Company provides to you electronically satisfy any legal requirement that such communications would satisfy if it were in writing.  The foregoing does not affect your non-waivable rights.

%p
  We may also use your email address to send you other messages, including information about
  your account, the Company and special offers. You may opt out of such email by changing your
  account settings or sending an email to contact@getsyme.com.

%p
  Opting out may prevent you from receiving messages regarding the Company or special offers.

%h4 WARRANTY DISCLAIMER

%p
  TO THE FULLEST EXTENT POSSIBLE UNDER THE LAW, USE OF SYME IS AT YOUR OWN RISK. SYME IS PROVIDED “AS IS,” WITHOUT WARRANTY OF ANY KIND. WITHOUT LIMITING THE FOREGOING, THE COMPANY EXPRESSLY DISCLAIMS ALL WARRANTIES, WHETHER EXPRESS, IMPLIED OR STATUTORY, REGARDING SYME INCLUDING WITHOUT LIMITATION ANY WARRANTY OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE, SECURITY, ACCURACY AND NON-INFRINGEMENT. WITHOUT LIMITING THE FOREGOING, THE COMPANY MAKES NO WARRANTY OR REPRESENTATION THAT ACCESS TO OR OPERATION OF SYME WILL BE UNINTERRUPTED OR ERROR FREE OR FREE OF BUGS AND VIRUSES. YOU ASSUME FULL RESPONSIBILITY AND RISK OF LOSS RESULTING FROM YOUR DOWNLOADING AND/OR USE OF FILES, INFORMATION, CONTENT OR OTHER MATERIAL OBTAINED FROM SYME. SOME JURISDICTIONS LIMIT OR DO NOT PERMIT DISCLAIMERS OF WARRANTY, SO THIS PROVISION MAY NOT APPLY TO YOU. YOU UNDERSTAND THAT THE COMPANY DOES NOT VERIFY ANY STATEMENTS OR COMMUNICATIONS MADE BY OTHER USERS.  

%h4 LIMITATION OF DAMAGES; RELEASE

%p
  YOU HEREBY WAIVE ALL REMEDIES, WARRANTIES, GUARANTEES OR LIABILITES, ARISING FROM LAW OR OTHERWISE.  IN NO EVENT SHALL THE COMPANY BE LIABLE TO YOU FOR ANY DAMAGES, HOWEVER CAUSED, INCLUDING BUT NOT LIMITED TO DIRECT, INDIRECT, SPECIAL, CONSEQUENTIAL, INCIDENTAL, PUNITIVE OR OTHERWISE ARISING OUT OF, OR IN ANY WAY CONNECTED WITH, YOUR ACCESS, DISPLAY OR USE OF SYME (INCLUDING BUT NOT LIMITED TO YOUR RELIANCE UPON INFORMATION OR OPINIONS THAT APPEAR ON SYME, ANY INFORMATION, SOFTWARE, LINKED SITES, PRODUCTS AND SERVICES OBTAINED THROUGH SYME, OR OTHERWISE ARISING OUT OF THE ACCESS TO, DISPLAY OF, OR USE OF SYME). THE COMPANY SHALL NOT BE LIABLE FOR LOST PROFITS, LOSS OF GOODWILL, BUSINESS INTERUPTION, ANY COMPUTER RELATED DAMAGE OR LOSS OF DATA.  THE COMPANY HEREBY EXCLUDES ALL LIABILITY WITH RESPECT TO THE TRANSMISSION OF VIRUSES OR BUGS.  THIS ENTIRE LIMITATION SHALL APPLY EVEN IF THE COMPANY WAS INFORMED OF THE POSSIBLE OCCURRENCE OF THE ABOVEMENTIONED DAMAGES. IN ALL EVENTS, THE COMPANY’S MAXIMUM LIABILITY TO YOU SHALL IN NO EVENT EXCEED $500. THIS LIMITATION IS AN ESSENTIAL ELEMENT OF THE AGREEMENT BETWEEN THE COMPANY AND YOU.  SOME JURISDICTIONS LIMIT OR DO NOT PERMIT DISCLAIMERS OF LIABILITY, SO THIS PROVISION MAY NOT APPLY TO YOU. 

%p
  WITHOUT LIMITING THE FOREGOING, YOU HEREBY GRANT TO THE COMPANY A FULL AND FINAL RELEASE AND FOREVER ACQUIT AND DISCHARGE THE COMPANY OF AND FROM ALL CLAIMS, ACTIONS, CAUSES OF ACTION, SUITS, PROCEEDINGS AND DEMANDS OF WHATSOEVER NATURE, CHARACTER OR KIND WHICH YOU CAN, SHALL OR MAY HAVE AGAINST THE COMPANY, WHICH RELATE TO: (I) YOUR ACCESS AND USE OF SYME, INCLUDING A DISPUTE BETWEEN YOU AND ANY OTHER USERS OF SYME; AND (II) ANY CONTENT WHICH YOU POST ON SYME.

%h4 INDEMNITY

%p
  You agree to indemnify, defend and hold harmless (including reasonable legal fees) the Company from any action, loss, liability, claim or demand relating to: (i) your access and use of Syme, including a dispute between you and any other users of Syme; (ii) your breach of any of the provisions of these Terms of Use; and (iii) any content which you post on Syme.

%h4 MODIFICATION OF TERMS OF USE

%p
  We can amend these Terms of Use at any time and will update these Terms of Use in the event of any such amendments.  It is your sole responsibility to check the Site from time to time to view any such changes in the Agreement.  If you continue to use the Site, you signify your agreement to our revisions to these Terms of Use.  However, we will notify you of material changes to the terms by posting a notice on our homepage and/or sending an email to the email address you provided to us upon registration.  For this additional reason, you should keep your contact and profile information current.  Any changes to these Terms of Use (other than as set forth in this paragraph) or waiver of the Company’s rights hereunder shall not be valid or effective except in a written agreement bearing the physical signature of an officer of the Company.  No purported waiver or modification of this Agreement by the Company via telephonic or email communications shall be valid.

%h4 INTELLECTUAL PROPERTY

%p
  The Company alone (and its licensors, where applicable) shall own all right, title and interest, including all related intellectual property rights, in and to Syme. The Company name, the Company logo, and the product names associated with Syme are trademarks of the Company or third parties, and no right or license is granted to use them.

%p
  WITHOUT LIMITING THE FOREGOING, COPYING OR REPRODUCTION OF THE SOFTWARE TO ANY OTHER SERVER OR LOCATION FOR FURTHER REPRODUCTION OR REDISTRIBUTION IS EXPRESSLY PROHIBITED. 

%h4 LINKS

%p
  The Site or Software may contain links to other websites and apps that are operated by third parties, and are not under the control of the Company.  The Company is not responsible for, and expressly excludes all liability with relation to these linked websites which you access and use at your own risk, and the Company makes no representations, warranties or conditions concerning the linked websites or their contents, products or services. 

%h4 RESPONSIBLE DISCLOSURE

%p
  We aim to keep the Service and Software safe for everyone, and data security is a priority. If you are a security expert and have discovered a security vulnerability in the Service or Software, we appreciate your help in disclosing it to us in a responsible manner, such that we have a reasonable opportunity to correct the vulnerability before you publicly disclose it. Please email us at contact@getsyme.com with a detailed description of the issue and the steps you believe may be required to reproduce what you have observed.

%p
  Please note that security experts may test only against an account for which they are the account owner. Additionally and notwithstanding the foregoing, security experts are still otherwise subject to the provisions of these Terms of Use, and agree that they shall not take any steps whatsoever which are intended to harm Syme, the Company or any user. 

%h4 GENERAL TERMS

%p
  If any part of this Agreement is held invalid or unenforceable, that portion of the Agreement will be construed consistent with applicable law. The remaining portions will remain in full force and effect. Any failure on the part of the Company to enforce any provision of this Agreement will not be considered a waiver of our right to enforce such provision. Our rights under this Agreement will survive any termination of this Agreement.

%p
  These Terms of Use will be interpreted in accordance with the laws applicable in the province of Quebec (Canada), without regard to its conflict-of-law provisions. You and we hereby agree, for any claim or lawsuit resulting from any reason whatsoever in relation with these Terms of Use or Syme, to attorn to the judicial district of Montreal, province of Quebec, Canada, as the appropriate location for the hearing of said claim or lawsuit and excluding any other judicial district of Quebec or elsewhere which might have jurisdiction with respect to any such matter.

%p
  The Company may assign or delegate these Terms of Use and/or the Company’s Privacy Policy, in whole or in part, to any person or entity at any time with or without your consent, so long as such assignee or delegate agrees to the terms set forth herein. You may not assign or delegate any rights or obligations under the Terms of Use or Privacy Policy without the Company’s prior written consent, and any unauthorized assignment and delegation by you is void.

%p
  YOU ACKNOWLEDGE THAT YOU HAVE READ THESE TERMS OF USE, UNDERSTAND THE TERMS OF USE, AND WILL
  BE BOUND BY THESE TERMS AND CONDITIONS. YOU FURTHER ACKNOWLEDGE THAT THESE TERMS OF USE TOGETHER
  WITH THE PRIVACY POLICY REPRESENT THE COMPLETE AND EXCLUSIVE STATEMENT OF THE AGREEMENT BETWEEN
  US AND THAT IT SUPERSEDES ANY PROPOSAL OR PRIOR AGREEMENT ORAL OR WRITTEN, AND ANY OTHER
  COMMUNICATIONS BETWEEN US RELATING TO THE SUBJECT MATTER OF THIS AGREEMENT.

%p
  You have requested and agreed that these Terms of Use be drafted in English. Vous avez demandé et accepté que cette convention soit rédigée en anglais.