%p
  Welcome to Syme (the “Service”).  The following Terms of Use govern and
  apply to your access and use of Syme’s website and Google Chrome Extension.
  By accessing or using the Service, you signify your agreement to these Terms of Use.
  This is a contract between you, the user, and Syme Solutions Inc (the “Company”).

%h4 PRIVACY POLICY

%p
  Syme respects the privacy of its users. Please refer to the Company’s
  <a href="#" class="link-to-privacy-policy">Privacy Policy</a>, which explains
  how we collect, use, and disclose information that pertains to your privacy.
  When you access or use the Service, you signify your agreement to
  this Privacy Policy.

%h4 ABOUT THE SERVICE

%p
  The Service is an encrypted communication platform for groups. The Service allows
  you to create and/or join private groups and share with the people within them.

%h4 REGISTRATION

%p
  You need to be at least 13 years old to register for and use the Service.

%p
  If you are a user who signs up for the Service, you will create an account,
  which includes a unique username and a password to access the Service and to
  receive messages from the Company.  You agree to notify us immediately of any
  unauthorized use of your password and/or account. The Company will not be responsible
  for any liabilities, losses, or damages arising out of the unauthorized use of your
  username, password and/or account.

%h4 ACCEPTABLE USE

%p
  Your permission to use the Site is conditioned upon the following Use Restrictions
  and Conduct Restrictions: You agree that you will not under any circumstances:

  %ul
    %li
      use the service for any unlawful purpose or for the promotion of illegal activities;

    %li
      use another user’s account without permission;

    %li
      interfere or attempt to interfere with the proper functioning of the Service;

    %li
      make any automated use of the system, or take any action that we deem to impose
      or to potentially impose an unreasonable or disproportionately large load on our
      servers or network infrastructure;

    %li
      publish or link to malicious content intended to damage or disrupt another user’s
      browser or computer;

    %li
      modify, adapt or hack the Service or modify another website so as to falsely imply
      that it is associated with Syme;

    %li
      transmit any viruses or any code of a destructive nature.

%h4 POSTING AND CONDUCT RESTRICTIONS

%p
  You are solely responsible for the User Content that you post, upload, link to or
  otherwise make available via the Service. You agree that we are only acting as a
  passive conduit for your online distribution and publication of your User Content.

%p
  The following rules pertain to User Content. By transmitting and submitting any User
  Content while using the Service, you agree as follows:

  %ul
    %li
      You are solely responsible for your account and the activity that occurs while
      signed in to or while using your account;

    %li
      You will not submit content that is copyrighted or subject to third party proprietary
      rights, including privacy, publicity, trade secret, etc., unless you are the owner of
      such rights or have the appropriate permission from their rightful owner to specifically
      submit such content; and...

    %li
      You hereby affirm we have the right to terminate your account with or without prior notice.

    %li
      You understand and agree that any liability, loss or damage that occurs as a result of the
      use of any User Content that you make available or access through your use of the Service
      is solely your responsibility. The Company is not responsible for any display or misuse of
      your User Content. The Company does not, and cannot, pre-screen or monitor User Content.

%h4 ONLINE CONTENT DISCLAIMER

%p
  Opinions, advice, statements, offers, or other information or content made available through
  the Service, but not directly by the Company, are those of their respective authors, and should
  not necessarily be relied upon. Such authors are solely responsible for such content. The Company
  does not guarantee the accuracy, completeness, or usefulness of any information on the Service
  and neither does the Company adopt nor endorse, nor is the Company responsible for, the accuracy
  or reliability of any opinion, advice, or statement made by parties other than the Company. The
  Company takes no responsibility and assumes no liability for any User Content that you or any
  other user or third party posts or sends over the Service.  Under no circumstances will the Company
  be responsible for any loss or damage resulting from anyone’s reliance on information or other
  content posted on the Service, or transmitted to users.

%p
  Though the Company strives to enforce these Terms of Use, you may be exposed to User Content
  that is inaccurate or objectionable. The Company reserves the right, but has no obligation, to
  limit or deny a user’s access to the Service or take other appropriate action if a user violates
  these Terms of Use. If you become aware of misuse of our Service, please contact us at contact@getsyme.com

%h4 CONTENT

%p
  Syme does NOT claim any ownership rights in the text, files, images, photos, videos, sounds,
  musical works, or any other materials (collectively, “Content”) that you post on or through the Service.

%h4 USER CONSENT TO RECEIVE COMMUNICATIONS IN ELECTRONIC FORM

%p
  For contractual purposes, you (a) consent to receive communications from the Company in an
  electronic form via the email address you have submitted; and (b) agree that all Terms of Use,
  agreements, notices, disclosures, and other communications that the Company provides to you
  electronically satisfy any legal requirement that such communications would satisfy if it were
  in writing. The foregoing does not affect your non-waivable rights.

%p
  We may also use your email address to send you other messages, including information about
  your account, the Company and special offers. You may opt out of such email by changing your
  account settings or sending an email to contact@getsyme.com.

%p
  Opting out may prevent you from receiving messages regarding the Company or special offers.

%h4 WARRANTY DISCLAIMER

%p
  THE SERVICE, IS PROVIDED “AS IS,” WITHOUT WARRANTY OF ANY KIND. WITHOUT LIMITING THE FOREGOING,
  THE COMPANY EXPRESSLY DISCLAIMS ALL WARRANTIES, WHETHER EXPRESS, IMPLIED OR STATUTORY, REGARDING
  THE SERVICE INCLUDING WITHOUT LIMITATION ANY WARRANTY OF MERCHANTABILITY, FITNESS FOR A PARTICULAR
  PURPOSE, TITLE, SECURITY, ACCURACY AND NON-INFRINGEMENT. WITHOUT LIMITING THE FOREGOING, THE
  COMPANY MAKES NO WARRANTY OR REPRESENTATION THAT ACCESS TO OR OPERATION OF THE SERVICE WILL BE
  UNINTERRUPTED OR ERROR FREE. YOU ASSUME FULL RESPONSIBILITY AND RISK OF LOSS RESULTING FROM YOUR
  DOWNLOADING AND/OR USE OF FILES, INFORMATION, CONTENT OR OTHER MATERIAL OBTAINED FROM THE SERVICE.
  SOME JURISDICTIONS LIMIT OR DO NOT PERMIT DISCLAIMERS OF WARRANTY, SO THIS PROVISION MAY NOT APPLY TO YOU.

%h4 LIMITATION OF DAMAGES; RELEASE

%p
  TO THE EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT SHALL THE COMPANY, ITS AFFILIATES,
  DIRECTORS, OR EMPLOYEES, OR ITS LICENSORS OR PARTNERS, BE LIABLE TO YOU FOR ANY LOSS OF
  PROFITS, USE, OR DATA, OR FOR ANY INCIDENTAL, INDIRECT, SPECIAL, CONSEQUENTIAL OR EXEMPLARY
  DAMAGES, HOWEVER ARISING, THAT RESULT FROM (A) THE USE, DISCLOSURE, OR DISPLAY OF YOUR USER
  CONTENT; (B) YOUR USE OR INABILITY TO USE THE SERVICE; (C) THE SERVICE GENERALLY OR THE
  SOFTWARE OR SYSTEMS THAT MAKE THE SERVICE AVAILABLE; OR (D) ANY OTHER INTERACTIONS WITH
  THE COMPANY OR ANY OTHER USER OF THE SERVICE, WHETHER BASED ON WARRANTY, CONTRACT, TORT
  (INCLUDING NEGLIGENCE) OR ANY OTHER LEGAL THEORY, AND WHETHER OR NOT THE COMPANY HAS BEEN
  INFORMED OF THE POSSIBILITY OF SUCH DAMAGE, AND EVEN IF A REMEDY SET FORTH HEREIN IS FOUND
  TO HAVE FAILED OF ITS ESSENTIAL PURPOSE.  SOME JURISDICTIONS LIMIT OR DO NOT PERMIT DISCLAIMERS
  OF LIABILITY, SO THIS PROVISION MAY NOT APPLY TO YOU.

%h4 MODIFICATION OF TERMS OF USE

%p
  We can amend these Terms of Use at any time and will update these Terms of Use in the event of
  any such amendments.  It is your sole responsibility to check the Site from time to time to view
  any such changes in the Agreement.  If you continue to use the Site, you signify your agreement
  to our revisions to these Terms of Use.  However, we will notify you of material changes to the
  terms by posting a notice on our homepage and/or sending an email to the email address you provided
  to us upon registration.  For this additional reason, you should keep your contact and profile
  information current.  Any changes to these Terms (other than as set forth in this paragraph) or
  waiver of the Company’s rights hereunder shall not be valid or effective except in a written
  agreement bearing the physical signature of an officer of the Company.  No purported waiver or
  modification of this Agreement by the Company via telephonic or email communications shall be valid.

%h4 GENERAL TERMS

%p
  If any part of this Agreement is held invalid or unenforceable, that portion of the Agreement
  will be construed consistent with applicable law. The remaining portions will remain in full
  force and effect. Any failure on the part of the Company to enforce any provision of this Agreement
  will not be considered a waiver of our right to enforce such provision. Our rights under this
  Agreement will survive any termination of this Agreement.

%p
  You agree that any cause of action related to or arising out of your relationship with the
  Company must commence within ONE year after the cause of action accrues. Otherwise, such cause
  of action is permanently barred.

%p
  These Terms will be interpreted in accordance with the laws applicable in the province of
  Quebec (Canada), without regard to its conflict-of-law provisions. You and we hereby agree,
  for any claim or lawsuit resulting from any reason whatsoever in relation with these Terms,
  the Service, to attorn to the judicial district of Montreal, province of Quebec, Canada,
  as the appropriate location for the hearing of said claim or lawsuit and excluding any
  other judicial district of Quebec or elsewhere which might have jurisdiction with respect
  to any such matter.

%p
  The Company may assign or delegate these Terms of Service and/or the Company’s Privacy Policy,
  in whole or in part, to any person or entity at any time with or without your consent.
  You may not assign or delegate any rights or obligations under the Terms of Service or
  Privacy Policy without the Company’s prior written consent, and any unauthorized assignment
  and delegation by you is void.

%p
  YOU ACKNOWLEDGE THAT YOU HAVE READ THESE TERMS OF USE, UNDERSTAND THE TERMS OF USE, AND WILL
  BE BOUND BY THESE TERMS AND CONDITIONS. YOU FURTHER ACKNOWLEDGE THAT THESE TERMS OF USE TOGETHER
  WITH THE PRIVACY POLICY REPRESENT THE COMPLETE AND EXCLUSIVE STATEMENT OF THE AGREEMENT BETWEEN
  US AND THAT IT SUPERSEDES ANY PROPOSAL OR PRIOR AGREEMENT ORAL OR WRITTEN, AND ANY OTHER
  COMMUNICATIONS BETWEEN US RELATING TO THE SUBJECT MATTER OF THIS AGREEMENT.