%p
  Syme takes your privacy extremely seriously. Everything from the design
  and functionality of our service to our legal policies is intended to protect
  your right to privacy and the information that you share.

%p
  We give you:

  %ul
    %li
      The best possible data protection – We use robust encryption and follow
      industry standard practices to keep your information safe.

    %li
      Ownership of your data – Anything you share on Syme is yours. You are free
      to modify, export or delete anything associated to your account at any time.

    %li
      Control over who sees what – When you share something on Syme, it is only
      visible to people inside your group – not to ad agencies, not to third parties,
      not even to us.

    %li
      A guarantee that we will never sell your data or give access to
      unauthorized third parties.


%h4 INFORMATION ABOUT YOUR ACCOUNT

%p
  When you create an account we collect basic authentication information like the name
  and the email address you use to sign up. We never collect your password and it is
  never stored on our servers.

%p
  We may use this information to allow you to use Syme, and to send you updates
  about your account, our products and services.

%h4 OWNERSHIP

%p
  The content you share on Syme belongs to you. You have complete control over the
  information and content you share on Syme. You retain ownership of all intellectual
  property rights for content you add to our service. You are free to modify, export,
  or delete any content you have shared. You can also delete your entire account at any time.

%p
  Because it’s impossible for us to view the content that you share, we cannot and will
  never sell it or share it with third parties or advertisers. We follow encryption best
  practices of not holding or having access to the keys used to encrypt and decrypt your
  private communications.

%h4 SECURITY

%p
  Your data is transferred and stored securely to the best of our ability. We strive to
  keep our service at the cutting-edge of technologies that enhance its security and
  safeguard your right to privacy.

  %ul
    %li
      All requests to our server are encrypted via secure connection (HTTPS).

    %li
      Exchange of keys between members is done via a password-authenticated Diffie-Hellman
      (PAK-DH) key agreement protocol.

    %li
      Your password is never stored on our servers or sent across the Internet. We use
      the Stanford Secure Remote Password protocol for authentication.

    %li
      Everything you share is encrypted via AES 256 symmetric and ECC 384 asymmetric encryption.

    %li
      Plugin signatures and external hosting ensures secure application code delivery.

    %li
      Everything you share is encrypted via AES 256 symmetric and ECC 384 asymmetric encryption.

    %li
      Our servers are located in Canada, a recognized world leader in privacy legislation,
      which is governed by the Personal Information Protection and Electronic Documents Act
      (PIPEDA), a European Union (E.U.) approved privacy law.


%h4 ANALYTICS AND COOKIES

%p
  Minimal data retention is key to the service we offer. We only use enough information to
  maintain, improve and upkeep our service.

%p
  We do not use cookies. However, we use the IndexedDB API, which gives us access to a more
  secure type of database provided by the browser. This type of database ensures that only
  Syme can access locally stored data.

%h4 LEGAL COMPLIANCE

%p
  We must and will comply with any binding legal request to access the little user data that
  we hold. There are no services out there that don’t have this provision. However, since we
  never hold the decryption keys for group content, there are severe limits to the data that
  can be handed over to authorities.

%p
  If we must turn any information over, we will evaluate the request to make sure it complies
  with the law. When legally permissible, we will notify you in order to give you the opportunity
  to object to the disclosure.

%p
  Moreover, at a minimum of every 6 months, we will publish a transparency report detailing any
  legal requests made to access user information (see Transparency below).

%h4 BACKDOORS

%p
  Syme will never introduce backdoors. We would rather shut the service down.

%h4 TRANSPARENCY

%p
  Transparency is important to us. At a minimum of every 6 months we will share:

  %ul
    %li
      How many law enforcement requests we receive.

    %li
      How many users these requests involve.

    %li
      Which agency or organization made the requests.

%h4 CHANGES TO THIS POLICY

%p
  We’ll notify you of any significant change to this policy by posting a notice on all available
  communication channels (e.g. login page, email, blog, Facebook and Twitter).

%h4 FEEDBACK

%p
  We appreciate your feedback. If you have any questions or concerns about anything here, feel
  free to contact us at contact@getsyme.com