%p Success! Invitation(s) sent.

{{debug}}

// {{#if failed}}
//
// %p
//   <strong>However</strong>, we were not able to send
//   invitations to those emails:
//
// {{#each failed}}
//
// %p {{this}}
//
// {{/each}}
//
// {{/if}}