{{#if succeeded}}

%p Invitation(s) were sent to the following e-mail(s).
%p You need to send the following keys to the people you invited:

%ul

  {{#each succeeded}}

  %li {{email}} - key: <b>{{token}}</b>

  {{/each}}

%p
  %i You can find the keys again by clicking on the key icon in your group's member list.

{{#if failed}}

%p
  <strong>However</strong>, we were not able to send
  invitations to the following emails:

{{#key_value failed}}

%ul
  %li {{key}} ({{value}})

{{/key_value}}

{{/if}}

{{else}}


{{#if failed}}

%p
  We were not able to send
  invitations to the following emails:

{{#key_value failed}}

%ul
  %li {{key}} ({{value}})

{{/key_value}}

{{/if}}

{{/if}}