{{#if succeeded}}

%p Invitation(s) were sent to the following e-mail(s). You need to send the following keys to the people you have invited:

%ul

  {{#each succeeded}}

  %li {{email}} (key: <b>{{token}}</b>)

  {{/each}}

%p
  %i You can always grab the keys by logging onto your group and clicking the key icon next to the e-mails you have invited.

{{#if failed}}

%p
  <strong>However</strong>, we were not able to send
  invitations to the following emails:

{{#key_value failed}}

%ul
  %li {{key}} ({{value}})

{{/key_value}}

{{/if}}

{{else}}


{{#if failed}}

%p
  We were not able to send
  invitations to the following emails:

{{#key_value failed}}

%ul
  %li {{key}} ({{value}})

{{/key_value}}

{{/if}}

{{/if}}