.modal-title
  Invite people

  %a.hint--left{ href: '#', role: 'close-modal', :'data-hint' => 'Close' }
    %i.icon-remove-sign

.modal-content

  %form{ action: 'post' }
  
    %textarea.autogrow{ name: 'emails', placeholder: "email@example.com" }

    %p.explanation
      You can invite more than one person by entering one email per line.

    %a.modal-button{ href: '#' }
      %span.invite
        Invite

      %span.spinner
        %i.icon-spinner.icon-spin