{{#if succeeded}}

%p Invitation(s) were sent to the following e-mail(s).

%ul

  {{#each succeeded}}

  %li {{email}}</b>

  {{/each}}

{{#if failed}}

%p
  <strong>However</strong>, we were not able to send
  invitations to the following emails:

{{#key_value failed}}

%ul
  %li {{key}} ({{value}})

{{/key_value}}

{{/if}}

{{else}}


{{#if failed}}

%p
  We were not able to send
  invitations to the following emails:

{{#key_value failed}}

%ul
  %li {{key}} ({{value}})

{{/key_value}}

{{/if}}

{{/if}}