.modal-title
  Invite a user

  %a.hint--left{ href: '#', role: 'close-modal', :'data-hint' => 'Close' }
    %i.icon-remove-sign

.modal-content
  %p.header
    Enter the email addresses of the people you want to invite below,
    one per line.

  %p.explanation
    Your invitees will send you a token to confirm their invite.

  %form{ action: 'post' }
    %textarea.autogrow{ name: 'emails', placeholder: "email@example.com" }

    %a.modal-button{ href: '#', role: 'submit' }
      %span.invite
        Invite

      %span.spinner
        %i.icon-spinner.icon-spin