.modal-title
  Invite a user

  %a{ href: '#', role: 'close-modal' }
    %i.icon-remove-sign

.modal-content
  %form
    %input{type: "text", name: "email"}

    %a.modal-button{ href: '#', role: 'submit' }
      Invite