.modal-title
  Invite a user

  %a{ href: '#', role: 'close-modal' }
    %i.icon-remove-sign

.modal-content
  %p.header
    Enter the email address of the person you want to invite
    to your group below.

  %p.explanation
    Your invitee will be asked to answer your group's
    <span class="secret-question" title="The real secret question">secret question</span>
    in order to join the group. If the answer is incorrect,
    we will transmit the answer to you so that you can review
    it manually.

  %form{ action: 'post' }
    %input{type: 'text', name: 'email', placeholder: 'Enter an email'}

    %a.modal-button{ href: '#', role: 'submit' }
      %span.invite
        Invite

      %span.spinner
        %i.icon-spinner.icon-spin