.modal-title
  Invite a user

  %a{ href: '#', role: 'close-modal' }
    %i.icon-remove-sign

.modal-content
  %form{ action: 'post' }
    %input{type: 'text', name: 'email', placeholder: 'Enter an email'}

    %a.modal-button{ href: '#', role: 'submit' }
      %span.invite
        Invite

      %span.spinner
        %i.icon-spinner.icon-spin