// HAML DOM structure example:
//
// #bullet-steps{ :'data-step' => 3, :'data-amount' => 4 }
//   #bullet-steps-slider
//     #bullet-steps-slider-progress
//
//   #bullet-steps-container
//     .bullet-step
//     .bullet-step
//     .bullet-step
//     .bullet-step

#bullet-steps {

  // This variable affects the maximum supported bullets.
  // Changing this to a too high value will result in an
  // oversized generated CSS.
  $maxBulletAmount:     3;

  $backgroundColor:     white;

  $pastBulletColor:     #BDBDBD;
  $currentBulletColor:  $success;
  $futureBulletColor:   #D6D6D6;

  $stepSize:            20px;
  $bulletBorderStyle:   5px solid $backgroundColor;
  $sliderHeight:        2px;

  $pastTitleColor:      #BDBDBD;
  $currentTitleColor:   $black;
  $futureTitleColor:    #D6D6D6;

  $bulletTitleWidth:    160px;
  $bulletTitleOffset:   20px;
  $bulletTitleLH:       16px;

  $marginBottom:        20px;

  width: 75%;
  margin-left: auto; margin-right: auto;
  margin-bottom: $bulletTitleOffset + $bulletTitleLH + $marginBottom;

  @for $bulletAmount from 1 through $maxBulletAmount {

    &[data-amount="#{$bulletAmount}"] {

      height: $stepSize;

      position: relative;

      background: $backgroundColor;

      @for $step from 1 through $bulletAmount {
        &[data-step="#{$step}"] {
          #bullet-steps-slider #bullet-steps-slider-progress {
            $position: ( $bulletAmount - 1 ) * ( $step - 1 ) / ($bulletAmount + 1);
            width: percentage($position);
          }
          @for $child from 1 through $step {
            .bullet-step:nth-child(#{$child}) {
              background: if($child == $step, $currentBulletColor, $pastBulletColor);

              .bullet-title {
                color: if($child == $step, $currentTitleColor, $pastTitleColor);
              }
            }
          }
        }
      }

      #bullet-steps-slider {
        height: $sliderHeight;

        position: absolute;
        top: 50%; left: 0; right: 0;
        margin-top: -1 * $sliderHeight / 2;

        background-color: $futureBulletColor;

        #bullet-steps-slider-progress {
          width: 0%;
          height: $sliderHeight;

          position: absolute;
          top: 50%; left: 0;
          margin-top: -1 * $sliderHeight / 2;

          background-color: $pastBulletColor;
        }
      }

      .bullet-step {
        position: absolute;
        width: $stepSize; height: $stepSize;
        box-sizing: border-box;

        border: $bulletBorderStyle;

        border-radius: 50%;

        text-align: center;
        line-height: $stepSize;

        color: white;
        background: $futureBulletColor;

        @for $i from 1 through $bulletAmount {
          &:nth-child(#{$i}){
            $position: ( $bulletAmount - 1 ) * ( $i - 1 ) / ($bulletAmount + 1);
            left: percentage($position);
            @if $i != 1 {
              margin-left: if($i != $bulletAmount, -1 * $stepSize / 2, -1 * $stepSize);
            }
          }
        }

        .bullet-title {
          width: $bulletTitleWidth;

          position: absolute;
          top: $bulletTitleOffset; left: 50%;
          @include transform( translate(-50%, 0) );

          font-size: 1em;
          line-height: emCalc($bulletTitleLH);

          color: $futureTitleColor;
        }
      }
    }
  }
}