.fingerprint-box {
  text-align: center;

  span {
    position: relative;
    top: 2px;

    padding: 4px 7px;
    padding-bottom: 1px;
    border-radius: 3px;

    color: white;
    background: $concrete;
    font-family: $codeFontFamily;

    cursor: help;

    &.you {
      margin-right: 1em;
    }
  }
}