<!-- Titre: Reminder: Confirm your invitation on Syme! -->

%p{ style: 'margin: 0 0 1em 0;' }
  Hi,

%p{ style: 'margin: 0 0 1em 0;' }
  We're writing to remind you that someone has accepted your invitation to join a group on Syme.<br />
  You just need to log in and confirm from your notifications to grant him or her access.

%p{ style: 'margin: 2em 0;' }
  %a{ href: 'http://localhost:5000/launch', target: '_blank', style: 'display: block; width: 70%; margin: 0 auto; text-align: center; font-size: 1.3em; font-weight: normal; background-color:#F5F5F5; padding: 15px 10px; color: #000; text-decoration: none; border-radius: 3px; line-height: 30px; border: 1px solid #ccc'}
    Confirm invitation

%p{ style: 'margin: 0 0 1em 0;' }
  Any questions? We'd love to hear from you. Feel free to get in touch by replying to this email.

%p{ style: 'margin: 0 0 1em 0;' }
  Best,<br />
  The Team at Syme
