%div{ style: 'font-family: Helvetica, Arial, Geneva, sans-serif; font-size:1.2em; font-weight: 200; background:#fafafa; line-height:1.3em; padding: 30px' }
  %div{ style: 'width: 620px; margin: 0 auto; font-size: .9em;'}
    // Header
    %a{ href: '#', style: 'border-radius: 5px 5px 0 0; text-align: center; display: block; background-color: #5FC0CE; padding: 20px 26px; color: white; text-decoration: none;' }
      %img{ src: 'http://www.getsyme.com/email_header.png' }

    // Message
    %div{ style: 'padding: 30px; color: #000; background-color: #FFF; border-left: 1px solid #CCC; border-right: 1px solid #CCC; '}

      = yield

      %p{ style: 'margin: 0 0 1em 0;' }
        Sincerely,

      %p{ style: 'margin: 0;' }
        The Team at Syme

    // Footer
    %div{ style: 'padding: 15px 30px; color: #888; font-size: .9em; text-align: center; background-color: #f5f5f5; border: 1px solid #CCC; border-top: 1px solid #E7E7E7; border-radius: 0 0 5px 5px; line-height: 1.4em;' }
      %a{ href: 'http://www.getsyme.com', target: '_blank' } Syme
      &sdot;
      Have a question?
      %a{ href: 'http://www.twitter.com/symeapp', target: '_blank' } Tweet
      us, or hit reply.
      If you would rather not receive these emails anyore, you can
      %a{ href: "http://www.getsyme.com/unsubscribe/#{locals[:recipient]}/#{locals[:unsubscribe_token]}", target: '_blank' } unsubscribe
      immediately.