<!-- Titre: You've been been granted access to a group on Syme! -->

%p{ style: 'margin: 0 0 1em 0;' }
  Hi,

%p{ style: 'margin: 0 0 1em 0;' }
  You've been granted access to a new group on Syme.<br />
  All you need to do is log on to your account to start sharing.

%p{ style: 'margin: 2em 0;' }
  %a{ href: 'http://https://getsyme.com:81/launch', target: '_blank', style: 'display: block; width: 70%; margin: 0 auto; text-align: center; font-size: 1.3em; font-weight: normal; background-color:#F5F5F5; padding: 15px 10px; color: #000; text-decoration: none; border-radius: 3px; line-height: 30px; border: 1px solid #ccc'}
    Go to group

%p{ style: 'margin: 0 0 1em 0;' }
  Any questions? We'd love to hear from you. Feel free to get in touch by replying to this email.

%p{ style: 'margin: 0 0 1em 0;' }
  Best,<br />
  The Team at Syme