%p{ style: 'margin: 0 0 1em 0;' }
  Hey #{locals[:user].full_name},

%p{ style: 'margin: 0 0 1em 0;' }
  Welcome to Syme, a simple way to share privately with groups. All we need to do is
  verify this is really your email address by clicking below:

%p{ style: 'margin: 2em 0;' }
  %a{ href: ('http://localhost:5000/users/' + locals[:user].id + '/confirm?token=' + locals[:user].confirmation_token), target: '_blank', style: 'display: block; width: 70%; margin: 0 auto; text-align: center; font-size: 1.3em; font-weight: normal; background-color:#F5F5F5; padding: 15px 10px; color: #000; text-decoration: none; border-radius: 3px; line-height: 30px; border: 1px solid #ccc'}
    Confirm my account

%p{ style: 'margin: 0 0 1em 0;' }
  Best,<br />
  The Team at Syme