%p{ style: 'margin: 0 0 1em 0;' }
  Hello,

%p{ style: 'margin: 0 0 1em 0;' }
  You recently asked us to remind you when Syme is ready.
  This is just to confirm that your email is registered and
  that you'll be the first to know when Syme is out.

%p{ style: 'margin: 0 0 1em 0;' }
  Do you have any questions or comments? We'd love to hear
  from you. Don’t hesitate to get in touch by replying to this email.