%p{ style: 'margin: 0 0 1em 0;' }
  Hi,

%p{ style: 'margin: 0 0 1em 0;' }
  I wanted to get in touch to thank you for your interest in Syme. I’m guessing that you don’t sign up to new services every day, and that's why I want to make sure everything is in place for us to meet your needs.

%p{ style: 'margin: 0 0 1em 0;' }
  Our team is always around to help you out. Whether you have a question, doubts, or have an idea you’d like to share, we promise to reply to every single email. On the slightest inclination, feel free to email us at <a href="mailto:team@getsyme.com">team@getsyme.com</a> or tweet us <a href="http://twitter.com/symeapp">@symeapp</a>. 

%p{ style: 'margin: 0 0 1em 0;' }
  If you want to speak with me directly, you can also write to me at <a href="mailto:jon@getsyme.com">jon@getsyme.com</a> or tweet me <a href="http://twitter.com/jonhershon">@jonhershon</a>. Happy Syming!

%p{ style: 'margin: 0 0 1em 0;' }
  Best,

%p{ style: 'margin: 0 0 1em 0;' }
  Jonathan Hershon<br />
  Co-founder, Syme