%p{ style: 'margin: 0 0 1em 0;' }
  Hello,

%p{ style: 'margin: 0 0 1em 0;' }
  You've been invited to join a group on Syme, a free and easy way to share privately with groups.

%p{ style: 'margin: 0 0 1em 0;' }
  All you need to do to get started is download the browser extension by visiting our webpage.

%p{ style: 'margin: 2em 0;' }
  %a{ href: 'http://goo.gl/xvM6Sm', target: '_blank', style: 'display: block; width: 70%; margin: 0 auto; text-align: center; font-size: 1.3em; font-weight: normal; background-color:#F5F5F5; padding: 15px 10px; color: #000; text-decoration: none; border-radius: 3px; line-height: 30px; border: 1px solid #ccc'}
    Visit webpage

%p{ style: 'margin: 0 0 1em 0;' }
  Any questions? We'd love to hear from you. Feel free to get in touch by replying to this email.

%p{ style: 'margin: 0 0 1em 0;' }
  Best,
  The Team at Syme
