%p{ style: 'margin: 0 0 1em 0;' }
  Hi,

%p{ style: 'margin: 0 0 1em 0;' }
  I wanted to get in touch to thank you for your interest in Syme. I’m guessing that you don’t sign up to new services every day, and that’s why I want to make sure everything is in place for you to feel at home.

%p{ style: 'margin: 0 0 1em 0;' }
  Our team is always around to help you out. Whether you have a question or have an idea you’d like to share, we’ll do our best to get back to you within a few hours. On the slightest whim, please email us at team@getsyme.com or tweet us @symeapp 

%p{ style: 'margin: 0 0 1em 0;' }
  If you want to speak with me directly, you can also write me an email at jon@getsyme.com or tweet me @jonhershon