%p{ style: 'margin: 0 0 1em 0;' }
  Hi there,

%p{ style: 'margin: 0 0 1em 0;' }
	We've been working for months to make Syme as useful as it can be for you. This is a big challenge and we depend immensely on your comments and feedback. 

%p{ style: 'margin: 0 0 1em 0;' }
	Whether you use Syme every day, or used it only once, it would lend us a huge favour if you filled out <a href="http://survey.io/survey/c024a">this survey</a>, which has been taking most people just a few minutes to complete. 

%p{ style: 'margin: 2em 0;' }
	 %a{ href: 'http://survey.io/survey/c024a', target: '_blank', style: 'display: block; width: 70%; margin: 0 auto; text-align: center; font-size: 1.3em; font-weight: normal; background-color:#F5F5F5; padding: 15px 10px; color: #000; text-decoration: none; border-radius: 3px; line-height: 30px; border: 1px solid #ccc'}
	   Go to Survey

%p{ style: 'margin: 0 0 1em 0;' }
	Thanks for your help. You're awesome!

%p{ style: 'margin: 0 0 1em 0;' }
	Sincerely,<br />
	Jonathan and The Team at Syme