#batchinvite.row
  .base-centered-column
    #bullet-steps{ :'data-step' => 2, :'data-amount' => 3 }
      #bullet-steps-slider
        #bullet-steps-slider-progress

      #bullet-steps-container
        .bullet-step
          .bullet-title
            Create a group

        .bullet-step
          .bullet-title
            Invite people

        .bullet-step
          .bullet-title
            Start sharing

    %h3
      Invite people to your group by email

    #tags
      %input{ type: 'text', placeholder: 'Enter a list of emails', maxlength: 50 }

    %a#batchinvite-link.disabled{ href: '#' }
      %span
        Start sharing
        %i.icon-angle-right

      <div class="nprogress-spinner"><div class="nprogress-spinner-icon"></div></div>