#batchinvite.row
  .base-centered-column
    %h2 Invite people to <span>{{group.name}}</span>
    %h3
      Invite people by email

    #tags
      %input{ type: 'text', placeholder: 'Add an email', maxlength: 50 }

    %a#batchinvite-link.disabled{ href: '#' }
      %span Continue
      <div class="nprogress-spinner"><div class="nprogress-spinner-icon"></div></div>