#batchinvite.row
  .base-centered-column
    %p
      You've successfully created your group <b>{{group.name}}</b>.
      It's quite lonely out there, so please invite some friends, co-workers
      or relatives with whom you want to communicate securely.

    #tags
      %input{ type: 'text', placeholder: 'Add an email', maxlength: 50 }