#bullet-steps{ :'data-step' => locals[:step], :'data-amount' => 3 }
  #bullet-steps-slider
    #bullet-steps-slider-progress

  #bullet-steps-container
    .bullet-step
      .bullet-title
        Create a group

    .bullet-step
      .bullet-title
        Invite people

    .bullet-step
      .bullet-title
        Start sharing