.row
  #feed-column
    // Feed form
    {{> feed-form}}

    // Feed
    #feed{  'data-group-name' => '{{group.name}}',
            'data-year' => '{{ year }}',
            'data-month' => '{{ month }}' }

      // New content button
      #newcontent
        %a{href: '#'} <i class="icon-refresh"></i> {{t 'new_content'}} (<span></span>)

      // Feed errors
      {{> error-alert}}

      // Posts loop
      {{> feed-posts}}

    // Load more button, triggered by infinite scroller
    // every few pages
    #load-more
      %a{href: '#'}
        {{t 'feed.load_more'}}

        %i.icon-long-arrow-down

  #feed-panel-column
    // Group panel
    {{> feed-panel}}