.row
  // Left column
  .columns.small-12.large-5.large-offset-2

    // Feed form
    .row
      .small-12.collapse
        = haml :'feed/form'

    // Feed
    #feed{ 'data-year' => '{{ year }}',
           'data-month' => '{{ month }}' }

      // New content button
      #newcontent
        %a.btn{href: '#'} {{t 'new_content'}} (<span></span>)

      // Feed errors
      {{> error-alert}}

      // Posts loop
      {{> feed-posts}}

    // Load more button, triggered by infinite scroller
    // every few pages
    #load-more
      %a.btn{href: '#'} {{t 'feed.load_more'}}

  // Group panel
  .columns.small-12.large-3.end
    = haml :'feed/panel'