.row
  #feed-column
    // Feed form
    {{> feed-form}}

    // Feed
    #feed{  'data-group-name' => '{{group.name}}',
            'data-year' => '{{ year }}',
            'data-month' => '{{ month }}' }

      // New content button
      #newcontent
        %a.btn{href: '#'} {{t 'new_content'}} (<span></span>)

      // Feed errors
      {{> error-alert}}

      // Posts loop
      {{> feed-posts}}

    // Load more button, triggered by infinite scroller
    // every few pages
    #load-more
      %a.btn{href: '#'} {{t 'feed.load_more'}}

  #feed-panel-column
    // Group panel
    {{> feed-panel}}