.row
  #feed-column
  
    // Hidden mentioned users input
    %input#mentioned_users{ type: 'hidden', name: 'mentioned_users', :'data-list' => '{{mention_list}}' }
  
    // Feed form
    {{#unless single_post}} {{> feed-form.hbs}} {{/unless}}

    // Feed
    #feed{ :'data-group-name' => '{{group.name}}', :'data-year' => '{{ year }}', :'data-month' => '{{ month }}', :'data-single-post' => '{{{single_post}}}' }

      {{#unless single_post}}

      // New content button
      #newcontent
        %a{href: '#'} <i class="icon-refresh"></i> New content (<span></span>)

      {{/unless}}

      // Posts loop
      {{> feed-posts.hbs}}

    // Load more button.
    {{#unless single_post}}

    #load-more
      %span
        Loading more posts...
    
    {{/unless}}

  #feed-panel-column
    // Group panel
    {{> feed-panel.hbs}}