#groups.row
  .small-12.large-8.large-centered.columns
    %ul
      {{#compare groups '||' invites}}

      // Invitations
      {{> groups-invites}}

      // Create group
      {{> groups-create}}

      // Group Loop
      {{#each groups}} {{> groups-group}} {{/each}}

      {{else}}

      // No groups
      No groups.

      {{/compare}}