#groups.row
  .small-10.small-centered.columns
    %ul
      -# {{#if invites}}
      -# {{#each invites}}
      -# .group
      -#   .group-infos
      -#     // Otherwise, show group name
      -#     %h4.group-name
      -#       %a.invite-link{href: '#', 'data-invite-token' => '{{token}}', 'data-invite-p' => '{{P}}'} Accept invitation
      -#   %a.invite-link{href: '#', 'data-invite-token' => '{{token}}', 'data-invite-p' => '{{P}}'}
      -#     %img.group-photo{src: '/img/groupphoto.jpg', alt: 'Group avatar'}
      -#     //%p.user_count {{user_count}} user(s)
      -#     //{{inviter_name}} has invited you to join his group "{{group_name}}".
      -# {{/each}}
      -# {{/if}}

      {{#if groups}}
      {{#each groups}}

      %li.group
        {{> groups-group}}

      {{/each}}
      {{else}}

      No groups.

      {{/if}}

  %form#create_group{method: 'post'}
    %h1 Create group

    Group name:
    %input{type: 'text', name: 'name'}