!!! 5
%html{lang: 'en'}

  %head

    %title Syme

    %meta{name: 'viewport', content: 'width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'}
    
    %link{rel: 'icon', href: 'img/favicon.ico'}
    
    %link{rel: 'stylesheet', type: 'text/css', href: 'assets/app.css'}
    
    %script{src: 'assets/app.js'}

  %body