#auth.row
  .columns.small-12.large-8.large-centered
    %h1 Asocial
    %h2 The encrypted social network.

    #auth-methods.row
      .columns.small-12.large-6.large-centered
        %form#login-form{method: 'post'}
          .input-text-icon
            %i.icon-envelope
            %input{type: 'text', name: 'email', placeholder: 'Email address'}

          .input-text-icon
            %i.icon-lock
            %input{type: 'password', name: 'password', placeholder: '{{t "login.password"}}'}

          %label{ for: 'remember_me' }
            %input#remember_me{type: 'checkbox', name: 'remember_me'}
            %span Keep me logged in

          %a.btn.btn-success{ href: '#', role: 'submit' }
            Log in <i class="icon-spinner icon-spin"></i>

          %p.switchmode
            Need an account? <a href="/register" data-hbs>Create one</a>.