#navbar
  .row
    .small-24
      %ul
        %li#brand
          %a{ href: '/', hbs: '' }
            Asocial

        %li
          %a#notifications.btn.hint--bottom{ href: '#', :'data-hint' => 'Notifications', 'data-popover' => 'notifications-container' }
            %i.icon-bell-alt

          #notifications-container.popover
            %h3 Notifications

            #notifications-content.scrollable

        %li#group-selector
          %ul<
            %li.title>
              %a{ href: '/', hbs: '' } Groups

            %li.group

        .pull-right
          .hide-for-small
            %li
              %a.btn.hint--bottom{ href: '/settings', hbs: '', :'data-hint' => 'Settings' }
                %i.icon-cog

            %li
              %a#logout.btn.hint--bottom{ href: '#', :'data-hint' => 'Log out' }
                %i.icon-signout

          .show-for-small
            %li#side-pane
              %a.btn{ href: '#', hbs: '' }
                %i.icon-reorder