#navbar
  #stripe-bar &nbsp;

  .row
    .small-24
      %ul
        %li#brand
          %a{ href: 'users/{{current_user_id}}/groups', hbs: '' }
            Syme

        %li#notification-li{ :'data-count' => 0 }
          %a#notifications.btn.hint--bottom{ href: '#', :'data-hint' => 'Notifications', 'data-popover' => 'notifications-container' }
            %i.icon-bell-alt

          #notifications-container.popover
            %h3 Notifications

            #notifications-content.scrollable

        // Breadcrumbs
        %li#navbar-breadcrumbs

        .pull-right
          .hide-for-small
            %li
              %a.btn.hint--bottom{ href: 'users/{{current_user_id}}', hbs: '', :'data-hint' => 'Settings' }
                %i.icon-cog

            %li
              %a#logout.btn.hint--bottom{ href: 'logout', hbs: '', :'data-hint' => 'Log out' }
                %i.icon-signout

          .show-for-small
            %li#side-pane
              %a.btn{ href: '#', hbs: '' }
                %i.icon-reorder