#navbar
  .row
    .small-24
      %ul
        %li#brand
          %a{ href: '/', :'data-hbs' => '' }
            = settings.app_title

        %li
          %a#notifications.btn{ href: '#', 'data-popover' => 'notifications-container' }
            %i.icon-bell-alt

          #notifications-container.popover
            %h3 Notifications

            #notifications-content.scrollable

        %li#group-selector
          %ul<
            %li.title>
              %a{ href: '/', :'data-hbs' => '' } Groups

            %li.group

        .pull-right
          .hide-for-small
            %li
              %a.btn{ href: '/settings', :'data-hbs' => '' }
                %i.icon-cog

            %li
              %a.btn{ href: '/logout' }
                %i.icon-signout

          .show-for-small
            %li#side-pane
              %a.btn{ href: '#', :'data-hbs' => '' }
                %i.icon-reorder