#topbar.container
  .navbar.navbar-inverse
    .navbar-inner
      .container
        %ul.nav
          %li
            %a{href: '/', :'data-hbs' => ''} #{settings.app_title}

          %li
            %a#notifications-button{href: '#'}
              %i.icon-inbox

              %span.navbar-unread
                {{notifications.count}}

            #notifications-container.flat-popover
              %h3 Notifications

              #notifications-content
                {{notifications.view}}

        %ul.nav.pull-right
          {{#if user.is_admin}}

          %li
            %a{href: '/admin', :'data-hbs' => ''}
              %i.icon-group

          {{/if}}

          %li
            %a#settings{href: '/settings', :'data-hbs' => ''}
              %i.icon-cog

          %li
            %a{href: '/logout'}
              %i.icon-off