{{#each notifications}}

.notification{ id: '{{id}}', :'data-read' => '{{{read}}}' }

  %p.notification-content
    // If there is a global link
    {{#if link}}

    // Wrap message in link
    %a.notification-link{ href: '{{link}}'}
      {{{message}}}

      %span.notification-infos {{created_at}}

    // Otherwise, just message
    {{else}}

    {{{message}}}
    %span.notification-infos {{created_at}}

    {{/if}}

    // Invite request
    {{#compare action 'invite_request'}}
    {{#with invitation}}
    {{> feed-notification-invite_request.hbs}}
    {{/with}}
    {{/compare}}

    // Invite accept
    {{#compare action 'invite_accept'}}
    {{#with invitation}}
    {{> feed-notification-invite_accept.hbs}}
    {{/with}}
    {{/compare}}

{{/each}}

{{#unless notifications}}

// No notifications
.notification{ id: 'empty' }
  %p.empty-notification
    No new notifications.

{{/unless}}