{{#each notifications}}

.notification{ id: '{{id}}' }

  %p.notification-content
    %a.notification-unread{ href: '#', 'title' => '' }
      %i.icon-circle

    {{{message}}}

  %p.notification-infos
    {{created_at}}

{{/each}}