#settings.row
  .small-centered-column
    %h1
      Settings
      %i.icon-cog

    .settings-panel
      %h3 Your name

      %form#change-name{ method: 'post' }
        %input{ type: 'text', name: 'full_name', placeholder: '{{full_name}}', autocomplete: 'off', autocorrect: 'off', autocapitalize: 'off', spellcheck: 'false' }

        %input{ type: 'submit' }
        %a#change-name-button.btn.btn-success.disabled{ href: '#', role: 'submit' }
          %span.default Save
          %span.active
            Saving
            %i.icon-spinner.icon-spin

      %h3 Your email

      %form#change-email{ method: 'post' }
        %input{ type: 'text', name: 'email', placeholder: '{{email}}', autocomplete: 'off', autocorrect: 'off', autocapitalize: 'off', spellcheck: 'false' }

        %input{ type: 'submit' }
        %a#change-email-button.btn.btn-success.disabled{ href: '#', role: 'submit' }
          %span.default Save
          %span.active
            Saving
            %i.icon-spinner.icon-spin

      %h3 Delete your account

      .explanation-box
        %p
          <strong>Warning.</strong> Deleting your account
          is irreversible. Doing so will delete all your data from every
          group you have belonged to.

        %p Type <strong class="warning">delete</strong> to delete your account.

      %form#delete-account{ method: 'post' }
        %input{ type: 'text', name: 'delete', autocomplete: 'off', autocorrect: 'off', autocapitalize: 'off', spellcheck: 'false' }

        %input{ type: 'submit' }
        %a#delete-account-button.btn.btn-danger.disabled{ href: '#', role: 'submit' }
          Delete account