.row
  .span8.offset2
    %h2 {{t 'settings.title'}}

    #error-container

    %p
      %b {{t 'settings.welcome'}}, {{user.name}}!
      {{t 'settings.explanation'}}

    {{t 'settings.informations'}}

    .tab-content
      #tab-informations.tab-pane.active
        {{> settings-profile.hbs}}

      #tab-settings.tab-pane
        {{> settings-settings.hbs}}