// direction: top, right, bottom or left
// offset: when direction is top or bottom, offset from left
//         when direction is left or right, offset from top

@mixin arrow($direction, $size, $borderWidth, $offset, $backgroundColor, $borderColor){
  position: relative;

  &:before, &:after {
    content: "";

    position: absolute;
    display: block;

    height: 0;
    width: 0;
  }

  // Inner arrow
  &:before {
    z-index: 1;
    @if $direction == 'top' {

      left: $offset;
      top: -$size;
      border-bottom: $size solid $backgroundColor;
      border-left: $size solid transparent;
      border-right: $size solid transparent;

    } @else if $direction == 'right' {

      top: $offset;
      right: -$size;
      border-left: $size solid $backgroundColor;
      border-top: $size solid transparent;
      border-bottom: $size solid transparent;

    } @else if $direction == 'bottom' {

      left: $offset;
      bottom: -$size;
      border-top: $size solid $backgroundColor;
      border-right: $size solid transparent;
      border-left: $size solid transparent;

    } @else if $direction == 'left' {

      top: $offset;
      left: -$size;
      border-right: $size solid $backgroundColor;
      border-top: $size solid transparent;
      border-bottom: $size solid transparent;

    }
  }

  // Outer arrow (border)
  &:after {
    @if $direction == 'top' {

      left: $offset - 1;
      top: -($size + 1);
      border-bottom: ($size + 1) solid $borderColor;
      border-left: ($size + 1) solid transparent;
      border-right: ($size + 1) solid transparent;

    } @else if $direction == 'right' {

      top: $offset - 1;
      right: -($size + 1);
      border-left: ($size + 1) solid $borderColor;
      border-top: ($size + 1) solid transparent;
      border-bottom: ($size + 1) solid transparent;

    } @else if $direction == 'bottom' {

      left: $offset - 1;
      bottom: -($size + 1);
      border-top: ($size + 1) solid $borderColor;
      border-right: ($size + 1) solid transparent;
      border-left: ($size + 1) solid transparent;

    } @else if $direction == 'left' {

      top: $offset - 1;
      left: -($size + 1);
      border-right: ($size + 1) solid $borderColor;
      border-top: ($size + 1) solid transparent;
      border-bottom: ($size + 1) solid transparent;

    }
  }
}

@mixin asocial-shadow($opacity: 0.8){
  @include box-shadow(0 0 1px rgba(0, 0, 0, $opacity));
}

@mixin inclined-stripes($color: gray, $size: 50px, $stripeColor: rgba(255, 255, 255, .2)){

  @include background-size($size $size);

  background-color: $color;

  background-image: -webkit-gradient(
    linear, 0 0, 100% 100%,
    color-stop(.25, $stripeColor),
    color-stop(.25, transparent),
    color-stop(.5, transparent),
    color-stop(.5, $stripeColor),
    color-stop(.75, $stripeColor),
    color-stop(.75, transparent),
    to(transparent)
  );

  @include linear-gradient(
    -45deg,
    $stripeColor 25%,
    transparent 25%,
    transparent 50%,
    $stripeColor 50%,
    $stripeColor 75%,
    transparent 75%,
    transparent
  );
}

@mixin linear-gradient($arguments...){
  background-image: -webkit-linear-gradient($arguments);
  background-image: -moz-linear-gradient($arguments);
  background-image: -ms-linear-gradient($arguments);
  background-image: -o-linear-gradient($arguments);
  background-image: linear-gradient($arguments);
}

@mixin scroll-shadow($background: white, $width: 5px) {
  $gradient1: $background 100%, transparent;
  $gradient2: rgba(0, 0, 0, 0.08) 30%, transparent;

  background-image: -webkit-linear-gradient($gradient1), -webkit-linear-gradient($gradient2);
  background-image: -moz-linear-gradient($gradient1), -moz-linear-gradient($gradient2);
  background-image: -ms-linear-gradient($gradient1), -ms-linear-gradient($gradient2);
  background-image: -o-linear-gradient($gradient1), -o-linear-gradient($gradient2);
  background-image: linear-gradient($gradient1), linear-gradient($gradient2);

  background-repeat: no-repeat;
  background-size: 100% $width*2, 100% $width;
  background-attachment: local, scroll;
}