{{#if is_video}}

%video.encrypted-video{src: '', alt: 'Encrypted video', 'data-attachment-id' => '{{id}}', 'data-attachment-filename' => '{{filename}}', 'data-attachment-size' => '{{size}}', 'data-attachment-keys' => '{{keys}}', 'data-attachment-type' => 'video'}

{{/if}}

{{#if is_audio}}

%audio.encrypted-audio{src: '', alt: 'Encrypted audio', 'data-attachment-id' => '{{id}}', 'data-attachment-filename' => '{{filename}}', 'data-attachment-size' => '{{size}}', 'data-attachment-keys' => '{{keys}}', 'data-attachment-type' => 'audio'}

{{/if}}

{{#if is_image}}
%a.image-download{href: '#', 'data-attachment-id' => '{{id}}',
                             'data-attachment-filename' => '{{filename}}',
                             'data-attachment-size' => '{{size}}',
                             'data-attachment-keys' => '{{keys}}'}

  %img.attached-image.encrypted-image{src: "/img/placeholder-680x500.gif", alt: 'Encrypted image', 'data-attachment-id' => '{{thumbnail.id}}', 'data-attachment-filename' => '{{thumbnail.filename}}', 'data-attachment-size' => '{{thumbnail.size}}', 'data-attachment-keys' => '{{thumbnail.keys}}', 'data-attachment-type' => 'image'}

{{/if}}