{{debug}}
%a.encrypted-file{href: '#', 'data-attachment-id' => '{{id}}',
                  'data-attachment-filename' => '{{filename}}',
                  'data-attachment-size' => '{{size}}',
                  'data-attachment-keys' => '{{keys}}'}<>

  {{attachment.filename}}

  ({{#if is_image}}{{image_size}} - {{/if}}{{to_readable_size size}}<span class="hidden progress_container"></span>)