{{#if is_video}}

%video.encrypted-video{src: '', alt: 'Encrypted video', 'data-attachment-id' => '{{id}}', 'data-attachment-filename' => '{{filename}}', 'data-attachment-size' => '{{size}}', 'data-attachment-key' => '{{key}}', 'data-attachment-type' => 'video'}

{{/if}}

{{#if is_audio}}

%audio.encrypted-audio{src: '', alt: 'Encrypted audio', 'data-attachment-id' => '{{id}}', 'data-attachment-filename' => '{{filename}}', 'data-attachment-size' => '{{size}}', 'data-attachment-key' => '{{key}}', 'data-attachment-type' => 'audio'}

{{/if}}

{{#if is_image}}

%a.image-download{href: '#'}
  %img.attached-image.encrypted-image{src: "data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7", alt: 'Encrypted image', 'data-attachment-id' => '{{thumbnail.id}}', 'data-attachment-filename' => '{{thumbnail.filename}}', 'data-attachment-size' => '{{thumbnail.size}}', 'data-attachment-key' => '{{thumbnail.key}}', 'data-attachment-type' => 'image'}

{{/if}}