// Display attachment information.
%p
  {{#if is_video}} {{t 'upload.video'}} {{/if}}
  {{#if is_audio}} {{t 'upload.audio'}} {{/if}}
  {{#if is_image}} {{t 'upload.image'}} {{/if}}
  \:
  {{> feed-attachment-encrypted}}

// Embed encrypted media.
{{> feed-attachment-embed}}