#batchinvite, #create-first-group {

  /*
  .create-first-group {
    h2 {
      font: 200 2em/2em $opensans;
      text-align: center;

      margin-bottom: 1em;
    }

    form#create_first_group {
      input[type="text"] {
        height: 70px;
        padding: 0 0.5em;

        line-height: 1.8em;
        font-size: 1.8em;
        font-weight: 200;

        text-align: center;
      }

      a[role="submit"] {
        @include btn-slide(70px, $bodyBackgroundColor2);

        font-size: 2em;

        span {
          font-weight: 200;

          &.default {
            color: lighten($black, 30%);
          }
          &.hover {
            color: $success;
          }
        }

        border: 2px solid $gray;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  */

  h2 {
    font: 200 2em/1.4em $opensans;
    border-bottom: 2px solid #eee;
    display: inline-block;
    padding-bottom: 5px;
    margin-bottom: 10px;

    span { color: $concrete; }
  }

  h3 {
    font: 200 1.2em/1.3em $opensans;
  }

  #tags {

    margin-top: 2em;

    $padding: 10px;
    $margin:  8px;
    $height:  40px;

    overflow: auto;
    border: $baseBorderStyle;
    border-radius: $baseBorderRadius;
    padding: $padding;
    box-shadow: 0px 7px 7px -7px rgba(0, 0, 0, 0.3);

    input {
      height: $height;
      min-width: 250px;

      float: left;
      background: white;
      border: 0;
      margin: $margin;
      padding: 5px;
      border: 2px solid $success;
      width: auto;

      &.invalid {
        border-color: $danger;
      }
    }

    span.tag {
      line-height: $height - $padding * 2 - 2;

      border-radius: $baseBorderRadius;
      border: $baseBorderStyle;
      font-size: .9em;
      font-weight: normal;
      color: #fff;
      display: block;
      float: left;
      padding: $padding #{$padding * 2};
      margin: $margin;

      background: $success;

      span.delete {
        line-height: $height - $padding * 2 - 2;
        cursor: pointer;
        font-size: 1em;
        padding-left: $padding;
      }
    }
  }

  #create-group-box {

    margin-top: 2em;

    border: $baseBorderStyle;
    border-radius: $baseBorderRadius;
    padding: 10px;
    box-shadow: 0px 7px 7px -7px rgba(0, 0, 0, 0.3);

    input {
      @include box-sizing;

      width: 100%;
      height: 60px;

      font-size: 1.2em;

      background: white;
      border: 0;
      margin: 0;
      padding: 20px 10px;
      border: 2px solid $success;
    }
  }

  a#batchinvite-link, a#create-first-group-link {
    display: block;
    width: 350px;
    text-align: center;
    font: 200 1.5em/3em $opensans;
    margin: 0 auto;
    margin-top: 1.5em;

    @extend .btn;
    @extend .btn-success;
  }
}