$batchInvitePadding: 10px;
$batchInviteMargin:  4px;
$batchInviteHeight:  40px;

#batchinvite {

  h3 {
    font: 200 1.2em/1.3em $opensans;
  }

  #tags {

    margin-top: 2em;

    overflow: auto;
    border: $baseBorderStyle;
    border-radius: $baseBorderRadius;
    padding: $batchInvitePadding;

    border: 2px solid $success;

    cursor: text;

    &.invalid {
      border-color: $danger !important;
    }

    input {
      height: $batchInviteHeight;
      min-width: 250px;

      float: left;
      background: white;
      border: 0;
      margin: $batchInviteMargin;
      padding: 5px 0;
      border: 0;
      width: auto;

      cursor: text;

      &.no-placeholder {
        @include placeholder {
          opacity: 0;
        }
      }
    }

    span.tag {
      line-height: $batchInviteHeight - $batchInvitePadding * 2 - 2;

      border-radius: $baseBorderRadius;
      border: $baseBorderStyle;
      font-size: .9em;
      font-weight: normal;
      color: #fff;
      display: block;
      float: left;
      padding: $batchInvitePadding #{$batchInvitePadding * 2};
      margin: $batchInviteMargin;

      background: $success;

      cursor: default;

      @include transition(background 0.45s ease-in-out);

      span.delete {
        line-height: $batchInviteHeight - $batchInvitePadding * 2 - 2;
        cursor: pointer;
        font-size: 1em;
        padding-left: $batchInvitePadding;
      }
    }
  }

  a#batchinvite-link {
    position: relative;

    display: block;
    width: 250px;
    text-align: center;
    font: 200 1.2em/2.5em $opensans;
    margin: 0 auto;
    margin-top: 2em;

    @extend .btn;
    @extend .btn-orange;

    i { margin-left: .5em; }

    .nprogress-spinner {
      display: none;
      position: absolute;
      top: 50%; left: 50%;
      @include transform(translate(-50%, -50%));

      .nprogress-spinner-icon {
        border-top-color: white;
        border-left-color: white;
      }
    }
  }

  &[data-active="true"]{
    span.tag {
      background: $concrete !important;

      span.delete { cursor: default !important; }
    }
    a#batchinvite-link {
      span {
        visibility: hidden;
      }
      &:hover {
        background-color: $orange !important;
        cursor: default;
      }
      .nprogress-spinner {
        display: block;
      }
    }
  }
}

.modal-content #batchinvite {
  #tags {
    margin: -#{ $batchInviteMargin / 2 };
    padding: 0;
    border: 0;
    box-shadow: none;

    span.tag, input {
      margin: $batchInviteMargin / 2;
    }

    input {
      width: 98%; // hack. please do something better
      box-sizing: border-box;
      margin: $batchInviteMargin / 2;
    }
  }
}