#groups {
  ul {

    // Masonry content disposition

    @include column-gap($bodyPadding);
    @include column-count(1);
    @media #{$small}  { @include column-count(2); }
    //@media #{$large}  { @include column-count(3); }

    list-style-type: none;
    text-align: center;

    li.group-card {
      width: 100%;

      display: inline-block;
      position: relative;

      margin-bottom: $bodyPadding;

      background: $bodyBackgroundColor;
      border: $baseBorderStyle;
      border-radius: $baseBorderRadius;

      box-shadow: 0px 7px 7px -7px rgba(0, 0, 0, 0.3);

      text-align: left;

      &.group-create {
        $buttonWidth: 100px;

        i.icon-chevron-down {
          float: right;
          line-height: inherit;

          @include transition(all 0.2s ease);
        }

        .group-card-content {
          display: none;

          form#create-group {
            position: relative;

            input[type="text"] {
              margin: 0 $buttonWidth 0 0;
            }

            a[role="submit"] {
              width: $buttonWidth;
              display: block;

              position: absolute;
              top: 0; right: 0;

              border-top-left-radius: 0;
              border-bottom-left-radius: 0;

              line-height: 40px;
              text-align: center;
            }
          }
        }

        &.opened {
          a.group-card-title {
            color: lighten($darkgray, 15%);

            i.icon-chevron-down {
              @include transform(rotate(-180deg));
            }
          }

          a.group-card-title:hover {
            cursor: default;
          }

          .group-card-content {
            display: block;
          }
        }
      }

      a.group-card-title {
        margin: 0;
        padding: 0 1em;

        display: block;

        background: $bodyBackgroundColor3;

        border-bottom: $baseBorderStyle;
        border-top-left-radius: $baseBorderRadius;
        border-top-right-radius: $baseBorderRadius;

        color: $gray;
        font: 600 .9em/3em $opensans;

        @include transition(color 0.1s ease);

        &:hover {
          color: lighten($darkgray, 15%);
          text-decoration: none;
        }
      }

      .group-banner {
        a.delete-group, a.leave-group {
          display: none;
          opacity: 0;

          position: absolute;
          top: 10px; right: 10px;
          z-index: 100;

          padding: 0 0.5em;
          font-size: 0.8em;
          line-height: 1.8em;

          &::before {
            border-left-color: white;
            z-index: 101;
          }

          &::after {
            border: 1px solid white;
            z-index: 101;
          }
        }

        a.group-banner-link {
          display: block;

          &.invite-link {
            span.cover {
              display: block;

              position: absolute;
              top: 0; left: 0; right: 0;

              background: rgba(255, 255, 255, 0.7);

              line-height: 160px;
              height: 160px;
              font-weight: 200;
              font-size: 2em;
                @media #{$breakpointMedium} { font-size: 1.4em; }

              text-align: center;
              color: $black;
            }
          }

          img {
            width: 100%; height: 160px;

            background-size: 100% auto;
            background-position-y: 50%;

            border-top-left-radius: $baseBorderRadius;
            border-top-right-radius: $baseBorderRadius;

            &.placeholder {
              background-image: url('/img/groupavatar.jpg');
            }
          }
        }
      }

      a.group-banner-link[data-invite-state="2"] {
        cursor: default;
      }

      .group-card-content {
        padding: 1em;

        font: normal .9em/2em $opensans;

        p {
          margin: 0;
        }

        a.group-link {
          font: 200 1.6em/1.4em $opensans;
          color: $black;

          word-break: break-word;
        }

        .group-updated-at {
          font-size: .9em;
        }

        a.fingerprint-link {
          /* float: right; */
          font-size: .9em;

          span.collapse { display: none; }

          &.expanded {
            span.expand   { display: none; }
            span.collapse { display: inline; }
          }
        }

        .fingerprint-box {
          margin-top: .5em;
          padding-top: .5em;
          border-top: $baseBorderStyle;

          text-align: center;

          span {
            position: relative;
            top: 2px;

            padding: 4px 7px;
            padding-bottom: 1px;
            border-radius: 3px;

            color: white;
            background: $concrete;
            font-family: $codeFontFamily;

            cursor: help;

            &.you {
              margin-right: 1em;
            }
          }
        }
      }
    }
  }
}