{{#if placeholder}}

%img{ src: '/img/groupavatar.jpg' }

{{else}}

%img.encrypted-background-image{ src: empty_image,
  'data-attachment-id' => '{{id}}',
  'data-attachment-key' => '{{key}}',
  'data-attachment-group' => '{{group_name}}' }

{{/if}}