{{#if placeholder}}

%img.group-avatar{src: '/img/groupavatar.jpg', alt: 'Group avatar'}

{{else}}

%img.group-avatar.encrypted-image{src: empty_image, alt: 'Encrypted image', 'data-attachment-id' => '{{id}}', 'data-attachment-key' => '{{key}}', 'data-attachment-type' => 'image', 'data-attachment-group' => '{{group_name}}'}

{{/if}}