%li.group-card.group-create.opened
  %a.group-card-title
    Create group

    %i.icon-chevron-down

  .group-card-content
    %form#create_group.row{ method: 'post' }
      .tight.columns.small-24.large-14
        %input{ type: 'text', name: 'name', placeholder: 'Enter a group name', autocomplete: 'off', autocorrect: 'off', autocapitalize: 'off', spellcheck: 'false' }

      .tight.columns.small-24.large-10
        %a.btn.btn-white{ href: '#', role: 'submit' } Create