%li.group-card.group-create
  %a.group-card-title
    Create group

    %i.icon-chevron-down

  .group-card-content
    %form#create_group{method: 'post'}
      Group name:
      %input{type: 'text', name: 'name'}