#create-first-group.row
  .base-centered-column
    #bullet-steps{ :'data-step' => 1, :'data-amount' => 3 }
      #bullet-steps-slider
        #bullet-steps-slider-progress

      #bullet-steps-container
        .bullet-step
          .bullet-title
            Create a group

        .bullet-step
          .bullet-title
            Invite people

        .bullet-step
          .bullet-title
            Start sharing

    %h2 Welcome to <b>Syme</b>

    %h3 Name your first encrypted group:

    %form#create-first-group-form{ method: 'post' }
      #create-first-group-box
        %input{ type: 'text', name: 'name', placeholder: 'e.g. Family and friends', maxlength: 50 }

      %a#create-first-group-link.disabled{ href: '#', role: 'submit' } Create group