{{#if placeholder}}

%img.placeholder{ src: "data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" }

{{else}}

%img.encrypted-background-image{ src: "data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7",
  'data-attachment-id' => '{{id}}',
  'data-attachment-keys' => '{{keys}}',
  'data-attachment-group' => '{{group_id}}' }

{{/if}}