.create-first-group
  %h2 Welcome to <b>Syme</b>. <br/>Name your first group:

  .row
    .columns.small-24.large-16.large-centered
      %form#create_first_group{method: 'post'}
        %input{type: 'text', name: 'name', autofocus: '', autocomplete: 'off', autocorrect: 'off', autocapitalize: 'off', spellcheck: 'false'}

        %input{ type: 'submit' }
        %a{ href: '#', role: 'submit' }
          %span.default Get started
          %span.hover <i class="icon-ok"></i>