#create-first-group.row
  .base-centered-column
    %h2 Welcome to <b>Syme</b>

    %h3 Name your first encrypted group:

    #create-group-box
      %input{ type: 'text', placeholder: 'e.g. Family and friends', maxlength: 50 }

    %a#create-first-group-link.disabled{ href: '#' } Create group