%li.group-card
  .group-banner

    {{#if deletable}}
    %a.delete-group.btn.btn-white.hint--left{ href: '#', :'data-group-id' => '{{id}}', :'data-hint' => 'Delete' }
      %i.icon-remove
    {{/if}}

    %a.group-banner-link{ href: '/{{id}}', :'data-hbs' => '' }
      // Group avatar
      {{#with avatar}} {{> groups-avatar.hbs}} {{/with}}

  .group-card-content
    {{#if PPA_k}}
    // Invite link
    %a.group-link.integrate-link{  href: '/{{id}}', :'data-hbs' => '',
                        :'data-invite-id' => '{{invite_id}}',
                        :'data-invite-PPA_k' => '{{PPA_k}}',
                        :'data-invite-k_sA' => '{{k_sA}}',
                        :'data-group-name' => '{{name}}'}
      // data-group-name does not seem to be used

      {{name}}

    {{else}}

    {{#if new_keys}}

    // Confirmation link
    %a.group-link.update-link{ href: '/{{id}}', :'data-hbs' => '',
                    :'data-invite-new_keys' => '{{new_keys}}',
                    :'data-group-name' => '{{name}}'}
      {{name}}

    {{else}}

    // Normal link
    %a.group-link{href: '/{{id}}', :'data-hbs' => ''}
      {{name}}

    {{/if}}

    {{/if}}