//{{#if deletable}}
// Delete button
//{{/if}}

.group-banner
  %a.delete-group{ href: '#', :'data-group-id' => '{{id}}' }
    %i.icon-remove

  %a.group-banner-link{ href: '#' }
    // Group avatar
    {{#with avatar}} {{> groups-avatar}} {{/with}}

.group-card-content
  {{#if PPA_k}}
  // Invite link
  %a.integrate-link{  href: '/{{name}}', :'data-hbs' => '',
                      :'data-invite-id' => '{{invite_id}}',
                      :'data-invite-PPA_k' => '{{PPA_k}}',
                      :'data-invite-k_sA' => '{{k_sA}}',
                      :'data-group-name' => '{{name}}'}
    {{name}}

  {{else}}

  {{#if new_keys}}

  // Confirmation link
  %a.update-link{ href: '/{{name}}', :'data-hbs' => '',
                  :'data-invite-new_keys' => '{{new_keys}}',
                  :'data-group-name' => '{{name}}'}
    {{name}}

  {{else}}

  // Normal link
  %a{href: '/{{name}}', :'data-hbs' => ''}
    {{name}}

  {{/if}}

  {{/if}}