%li.group-card.group-create.opened
  %a.group-card-title
    Create group

    %i.icon-chevron-down

  .group-card-content
    %form#create_group{ method: 'post' }
      %input{ type: 'text', name: 'name', placeholder: 'Enter a group name', autocomplete: 'off', autocorrect: 'off', autocapitalize: 'off', spellcheck: 'false' }

      %a.btn.btn-success.disabled{ href: '#', role: 'submit' } Create