.container

  .row

    .span8.offset2

      %h1.enormous
        {{t 'not_found.title'}}
      %p.lead
        {{t 'not_found.text'}}
      %p.text-align-right

        %a.btn.btn-large{href: '/'}
          &lt; {{t 'not_found.button'}}