.container

  .row
  
    .span8.offset2
    
      %h1.enormous
        {{t 'forbidden.title'}}        
      %p.lead
        {{t 'forbidden.text'}}        
      %p.text-align-right
      
        %a.btn.btn-large{href: '/'}
          {{t 'forbidden.button'}}