/* Breakpoints for responsive feed columns */

// Large
@media #{$breakpointLarge} {
  #feed-column {
    @include grid-column(12, false, false, 3);
  }
}

// Medium
@media #{$breakpointMedium} {
  #feed-column {
    @include grid-column(13, false, false, 2);
  }
}

// Small
@media #{$breakpointSmall} {
  #feed-column {
    @include grid-column(24);
  }
}

/* ----------------------------------------- */

// Open comments by default in single-post view
#feed[data-single-post="true"] {
  a.post-delete   { display: none !important;  }
  .show-more      { display: none !important;  }
  .comment-hidden { display: block !important; }
  textarea        { display: block !important; }
}

// Notice when no posts on feed
#empty-group-notice {
  margin-top: 3em;
  text-align: center;

  h4 {
    font: 200 2em/1.4em $opensans;
  }

  p {
    font: 200 1em/1.5em $opensans;
  }
}

// Indicator for socket-added posts
#newcontent {
  margin-bottom: 1em;

  display: none;
  text-align: center;

  a {
    @extend .btn;
    @extend .btn-white;

    font-size: .9em;
  }
}

// Manual pagination
#load-more {
  margin-top: 1em;
  display: none;

  font-size: .9em;
  text-align: center;
  color: #423E3E;
  a:hover { text-decoration: none; }
  i { padding-left: .5em; }
}

.post {
  padding-bottom: $bodyPadding / 2;
  margin-bottom: $bodyPadding / 2;
  border-bottom: $baseBorderStyle;

  &:last-child {
    border-bottom: none;
  }

  &.new-post { display: none; }

  img.avatar {
    width: $avatarPostSize; height: auto;
    display: inline-block;
    float: left;

    border-radius: 3px;
  }

  .post-indent {
    margin-left: emCalc($avatarPostSize) + 1em;

    .encrypted { display: none; }

    .collapsable {
      position: relative;
      overflow: hidden;

      // Css-only text expander
      margin-bottom: .5em; /* child <p> margin-bottom */
      line-height: 1.2em; /* child <p> line-height */

      p {
        margin-bottom: inherit;
        line-height: inherit;

        font-size: .9em;
        font-weight: 300;

        word-break: break-word;

        &:last-child {
          margin-bottom: 0;
        }
      }

      .expand-link-container {
        display: none;
      }

      &.collapsed {
        p {
          margin: 0;
        }

        .expand-link-container {
          position: absolute;
          bottom: 0; left: 0; right: 0;
          display: block;

          line-height: inherit;

          background-color: #FFF;
        }
      }
    }

    .post-header {
      position: relative;

      margin-bottom: .5em;

      p.post-header-infos {
        display: inline-block;
        margin: 0;

        font-weight: 600;
        font-size: .9em;

        a.time {
          display: block;

          color: gray;
          font-weight: 300;
          font-size: .8em;
        }
      }

      a.post-delete {
        display: none;
        opacity: 0;

        position: absolute;
        top: 0; right: 0;

        padding: 0 0.3em;
        font-size: 0.8em;
        line-height: 1.5em;
      }
    }

    .post-content {
      .attachment {
        margin-bottom: 1em;

        .file {
          position: relative;

          font-size: .8em;
          font-weight: normal;

          margin-bottom: .5em;
          padding: 10px 15px;
          padding-right: 115px;

          border: $baseBorderStyle;
          border-radius: $baseBorderRadius;

          overflow-x: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;

          & > i {
            margin-right: .5em;
          }

          a.encrypted-file {
            display: block;
            width: 100px;

            position: absolute;
            top: 50%; right: 10px;

            @include transform( translateY(-50%) );

            text-align: right;
          }
        }

        a {
          font-weight: 300;

          &.image-download {
            display: block;

            img {
              width: 100%;
              @include inclined-stripes(transparent, 50px, rgba(0, 0, 0, .05));
            }
          }
        }
      }
    }

    .post-footer {
      font-size: .8em;

      .post-footer-actions {
        a.like-action {
          span.default-text { display: inline; }
          span.active-text { display: none; }

          &.active {
            span.default-text { display: none; }
            span.active-text { display: inline; }
          }
        }

        a.comment-action {

        }
      }

      .post-footer-informations {
        text-align: right;

        & > span {
          margin-left: .5em;

          a:hover {
            text-decoration: none;

            span { text-decoration: underline; }
          }
        }
      }
    }

    .post-comments {
      margin-top: 1em;
      padding-left: 1em;
      border-left: 3px solid #ddd;

      &.collapsed { display: none; }

      .comments {

        .show-more {
          text-align: left;
          font-size: .8em;
          margin-bottom: 1em;
        }

        .comment-box {
          
          position: relative;

          border-bottom: 1px solid #ddd;
          padding-bottom: .5em;
          margin-bottom: .5em;

          font-size: .9em;
          font-weight: 300;
          line-height: 1.4em;

          @include clearfix;

          &:last-child {
            border: none;
            margin-bottom: 0;
          }

          &.comment-hidden {
            display: none;
          }

          a.comment-delete {
            display: none;
            opacity: 0;

            position: absolute;
            top: 0; right: 0;
            z-index: 3;

            padding: 0 0.3em;
            font-size: 0.8em;
            line-height: 1.5em;
          }
          
          a.time {
            
            color: gray;
            font-weight: 300;
            
          }

          img.avatar {
            width: $avatarCommentSize;
            height: auto;

            float: left;
            margin-right: 1em;

            border-radius: $baseBorderRadius;
          }

          // During decryption
          & > a.commenter-name { display: none; }

          .collapsable {
            margin-bottom: .5em;

            p {
              word-break: break-word;

              a.commenter-name {
                padding-right: .4em;
                font-weight: 600;
                white-space: nowrap;

                text-decoration: none;

                cursor: default;
                color: $black; &:hover {
                  color: inherit;
                  text-decoration: none
                }

              }

              .expand-link-container {
                font-size: .9em;
              }
            }
          }

          .comment-footer {
            font-size: .8em;
            font-weight: 300;
            line-height: 1.6em;

            margin-left: $avatarCommentSize;
            padding-left: 1em;

            a.like-action {
              span.default-text { display: inline; }
              span.active-text { display: none; }

              &.active {
                span.default-text { display: none; }
                span.active-text { display: inline; }
              }
            }

            a.like-count {
              margin-left: .5em;

              font-weight: normal;

              &:hover { text-decoration: none; }

              i {
                font-size: 1em;
                line-height: inherit;
              }
            }
          }
        }
      }

      .comment-form {
        textarea {
          width: 100%;
          min-height: .8em; max-height: 100px;
          padding: 7px 10px;
          margin: 0;

          @include box-sizing;
          resize: none;

          line-height: 1.5em;
          font-size: .8em;
          font-weight: normal;
        }
      }
    }

  }
}