#auth-methods {
  
  form {
    margin: 0;
  }

  button, input[type="submit"] {
    height: 40px;
  }

  input[type="text"], input[type="password"] {
    width: 100%;
    height: auto;

    @include box-sizing;
  }

  input[type="submit"] {
    height: 40px;
  }
  
}

#auth-form[data-registering] {
  input[name="full_name"] {
    display: inline-block;
  }
}