#feed-panel {
  .group-photo {
    position: relative;

    margin-bottom: 1em;

    a#group-photo-edit {
      display: none;
      opacity: 0;

      position: absolute;
      top: 10px; right: 10px;

      padding: 0 0.5em;
      font-size: 0.8em;
      line-height: 1.8em;
    }

    input { display: none; }

    img {
      border-radius: $baseBorderRadius;
    }
  }

  ul#userlist {
    margin: 0;

    list-style-type: none;
    padding-left: .2em;
    border-left: 4px solid #ddd;

    li {
      display: block;

      border-bottom: $baseBorderStyle;

      &:last-child {
        border-bottom: none;
      }

      &:first-child a { padding-top: 0; } &:last-child a { padding-bottom: 0; }

      a {
        display: block;
        padding: .5em;

        color: $darkgray;

        font-size: .9em;
        font-weight: 200;
        line-height: $avatarSmall;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &:hover {
          text-decoration: none;
          color: $black;
        }

        img {
          width: $avatarSmall;
          height: auto;

          margin-right: .5em;

          border-radius: $baseBorderRadius;
        }
      }
    }
  }
}