.feed-separator {
  height: 7px;
  margin-bottom: 15px;

  @include inclined-stripes(transparent, 15px, $feedSeparator);
}

.empty-group-notice {
  text-align: center;
}

#newcontent {
  @extend .mbl;

  display: none;
  text-align: center;
}

.post {
  @include clearfix;
  @extend .mbl;

  .post-gutter {
    position: relative;

    img.avatar {
      width: $avatarSize; height: $avatarSize;
      @include border-radius($avatarSize);
      @include asocial-shadow;
      border: 4px solid #FFF;
    }

    .gutter-infos {
      $gutterWidth: 70px;

      position: absolute;
      top: 2px;
      left: -($gutterWidth + 10);

      width: $gutterWidth;
      margin-top: 13px;

      color: lighten($lightgray, 15%);
      font-size: 13px;
      text-align: center;

      span.abbr-date-day {
        display: block;

        color: $lightgray;
        font-size: 23px;
      }
    }
  }

  .post-content {
    padding: 15px;
    @include box-sizing;

    @include arrow(left, 15px, 1px, 26px, $box1Color, $border1Color);

    background-color: $box1Color;

    @include border-radius(5px);
    border: 1px solid $border1Color;

    line-height: 1.3;

    .encrypted {
      display: none;
    }

    .post-infos {
      margin-bottom: $l / 2;
    }

    .collapsable {
      margin-bottom: 10px; /* your <p> margin-bottom */
      line-height: 20px; /* your <p> line-height */

      p {
        line-height: inherit;
        margin-bottom: inherit;

        &:last-child {
          margin-bottom: 0;
        }
      }

      &.collapsed {
        position: relative;
        overflow: hidden;

        p {
          margin: 0;
        }

        .expand-link-container {
          position: absolute;
          bottom: 0; right: 0;
          display: block;

          line-height: inherit;
          padding: 0 2px 0 5px;

          background-color: #FFF;

          box-shadow: -5px 0 5px 0 white;
        }
      }

      .expand-link-container {
        display: none;
      }
    }

    .post-tools, .comment-tools {
      float: right;
      color: lighten($lightgray, 15%);

      a {
        text-decoration: none;
        color: $base;

        i, &:hover {
          color: lighten($lightgray, 15%);
        }

        &.post-likes, &.comment-likes {
          &:hover, &.active {
            color: $likesColor;

            i {
              color: inherit;
            }
          }
        }

        &.post-comments:hover, &.post-comments:hover i {
          color: $commentsColor;
        }

        &.post-delete:hover, &.comment-delete:hover {
          color: $danger;

          i {
            color: $danger;
          }
        }
      }
    }

    .attachment {
      margin-bottom: 0;

      p {
        margin: 0;
      }

      img {
        margin-top: 10px;
      }

      a.decrypting {
        color: $lightgray;
        text-decoration: none;
        cursor: default;
      }

      .encrypted-video {
        width: 100%;
        height: 100%;
      }

    }

    .comments {
      margin-left: -15px;
      margin-right: -15px;

      .show-more {
        text-align: right;
        margin-right: 15px;

        a {
          padding-top: 7px;

          background: transparentize(#8A8A8A, 0.8);
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;

          font-size: 14px;
          color: #888485;
          line-height: 14px;
        }
      }

      .comment-box {
        position: relative;
        padding: ($m + 4) 15px 0 (15px * 2 + $commentAvatarSize);
        min-height: $commentAvatarSize;

        border-top: 1px dashed lighten($border1Color, 10%);

        &:first-child {
          border-top: 1px solid lighten($border1Color, 10%);
        }

        &.comment-hidden {
          display: none;
        }

        a.commenter-name {
          padding-right: 3px;

          // Embedded iframe at the beginning of comment
          & + iframe {
            margin-top: 10px;
          }
        }

        span.comment-tools {
          padding-left: 10px;
        }

        img.avatar {
          position: absolute;
          height: $commentAvatarSize; width: $commentAvatarSize;
          top: $m;
          left: 15px;

          @include border-radius(3px);
        }

        img + a + p {
          display: inline;
        }
      }
    }

    .comment-form {
      margin: 0;

      textarea {
        width: 100%;
        height: 35px;



        resize: none;

        margin-bottom: 0;
        padding: $s;
        @include box-sizing;

        @include border-radius(3px);
      }
    }
  }
}

#load-more {
  display: none;
}