form#feed-form {
  position: relative;

  margin-bottom: $bodyPadding / 2;
  padding-left: emCalc($avatarPostSize) + 1em;
  padding-bottom: $bodyPadding / 2;

  border-bottom: 1px dashed #ddd;

  background: $bodyBackgroundColor;

  a#feed-form-avatar {
    width: $avatarPostSize;
    position: absolute;
    left: 0;

    display: block;
    margin-right: 1em;

    border-radius: 50%;

    &:hover span {
      opacity: 1;
      background: rgba(black, 0.1);
    }

    span {
      position: absolute;
      top: 0; right: 0; bottom: 0; left: 0;

      border-radius: 50%;

      color: white;
      text-align: center;
      line-height: $avatarPostSize;

      opacity: 0;

      @include transition(background 0.2s ease, opacity 0.2s ease);
    }

    img.avatar {
      width: 100%; height: auto; // Preserve aspect ratio
      border-radius: 50%;
      box-shadow: 0 0 16px 1px white;
    }
  }

  #textarea-holder {
    $marginTop: $avatarPostSize / 2;
    $arrowSize: 8px;
    $borderSize: 2px;
    $borderColor: $lightgray;

    position: relative;
    margin-bottom: 1em;

    border: $borderSize solid $borderColor;
    border-radius: $baseBorderRadius;

    &.focused {
      border-color: $success;
    }

    &:after, &:before {
      right: 100%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }

    &:after {
      border-color: rgba(255, 255, 255, 0);
      border-right-color: #fff;
      border-width: $arrowSize;
      top: 0%;
      margin-top: $marginTop - $arrowSize;
    }

    &:before {
      border-color: rgba(0, 0, 0, 0);
      border-right-color: inherit;
      border-width: $arrowSize + $borderSize;
      top: 0%;
      margin-top: $marginTop - $arrowSize - $borderSize;
    }

    textarea {
      width: 100%;
      min-height: $avatarPostSize; max-height: 200px;

      @include box-sizing;
      resize: none;

      margin: 0;
      padding: 10px;
      border: none;

      font-size: .9em;
      font-weight: 200;
    }
  }

  #drag-helper {

    $drag-helper-font-size: 1.6em;

    display: none;

    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;

    background-color: rgba(255, 255, 255, 0.8);

    border: 4px dashed rgb(145, 145, 145);
    border-radius: 5px;

    text-align: center;
    font-size: $drag_helper_font_size;
    color: #919191;

    p {
      position: absolute;
      top: 50%; left: 0; right: 0;

      margin: 0;
      line-height: $drag_helper_font_size;
      margin-top: -$drag_helper_font_size/2;
    }
  }

  .progress {
    height: 5px;

    margin-bottom: 0;

    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-radius: 0;
  }

  ul#attachments {
    margin: 0;
    list-style-type: none;

    line-height: 34px;

    li {
      display: inline-block;
      vertical-align: middle;

      margin-right: 1em;    &:last-child{ margin-right: 0; }
      padding-right: .3em;  &:last-child{ padding-right: 0; }

      font-size: 0.9em;
      line-height: 2em;

      &.title {
        font-weight: 600;
        color: $darkgray;

        @media only screen and (max-width:"#{$small-screen}") {
          display: none;
        }
      }

      a {
       display: block;
       line-height: inherit;

       color: darken($gray, 15%);

        &:hover {
          color: $darkgray;
          text-decoration: none;
        }

        i {
          margin-right: .1em;

          font-size: 1.2em;
        }
      }
    }
  }

  a[role="submit"] {
    float: right;

    font-size: .8em;
    line-height: 34px;

    border: 1px solid transparent;
  }
}

#feed-form-separator {
  height: 7px;
  margin-bottom: 1em;

  @extend .hide-text;

  @include inclined-stripes(transparent, 15px, $gray);
}