.feed-separator {
  height: 7px;
  @extend .mbm;

  @include inclined-stripes(transparent, 15px, $gray);
}

.empty-group-notice {
  text-align: center;
}

#newcontent {
  @extend .mbl;

  display: none;
  text-align: center;
}

.post {
  @include clearfix;
  @extend .mbl;

  .post-gutter {
    position: relative;

    img.avatar {
      width: $avatarPostSize; height: $avatarPostSize;
      border-radius: $avatarPostSize;
      border: 4px solid #FFF;
    }
  }

  .post-content {
    @extend .pam;
    @include box-sizing;

    // @include arrow(left, 15px, 1px, 26px, $box1Color, $border1Color);

    border-radius: 5px;
    border: $baseBorderStyle;

    .encrypted { display: none; }

    .post-infos {
      margin-bottom: $l / 2;
    }

    .collapsable {
      // Css-only text expander
      margin-bottom: 10px; /* child <p> margin-bottom */
      line-height: 20px; /* child <p> line-height */

      p {
        margin-bottom: inherit;
        line-height: inherit;

        &:last-child {
          margin-bottom: 0;
        }
      }

      &.collapsed {
        position: relative;
        overflow: hidden;

        p {
          margin: 0;
        }

        .expand-link-container {
          position: absolute;
          bottom: 0; right: 0;
          display: block;

          line-height: inherit;
          padding: 0 2px 0 5px;

          background-color: #FFF;

          box-shadow: -5px 0 5px 0 white;
        }
      }

      .expand-link-container {
        display: none;
      }
    }

    .post-tools, .comment-tools {
      float: right;
      color: lighten($lightgray, 15%);

      a {
        text-decoration: none;
        color: $base;

        i, &:hover {
          color: lighten($lightgray, 15%);
        }

        &.post-likes, &.comment-likes {
          &:hover, &.active {
            color: $likesColor;

            i {
              color: inherit;
            }
          }
        }

        &.post-comments:hover, &.post-comments:hover i {
          color: $commentsColor;
        }

        &.post-delete:hover, &.comment-delete:hover {
          color: $danger;

          i {
            color: $danger;
          }
        }
      }
    }

    .attachment {
      margin-bottom: 0;

      p {
        margin: 0;
      }

      img {
        margin-top: 10px;
      }

      a.decrypting {
        color: $lightgray;
        text-decoration: none;
        cursor: default;
      }

      .encrypted-video {
        width: 100%;
        height: 100%;
      }

    }

    .comments {
      margin-left: -15px;
      margin-right: -15px;

      .show-more {
        text-align: right;
        margin-right: 15px;

        a {
          padding-top: 7px;

          background: rgba(#8A8A8A, 0.8);
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;

          font-size: 14px;
          color: #888485;
          line-height: 14px;
        }
      }

      .comment-box {
        position: relative;
        padding: ($m + 4) 15px 0 (15px * 2 + $avatarCommentSize);
        min-height: $avatarCommentSize;

        border-top: $dashedBorderStyle;

        &.comment-hidden {
          display: none;
        }

        a.commenter-name {
          padding-right: 3px;

          // Embedded iframe at the beginning of comment
          & + iframe {
            margin-top: 10px;
          }
        }

        span.comment-tools {
          padding-left: 10px;
        }

        img.avatar {
          position: absolute;
          height: $avatarCommentSize; width: $avatarCommentSize;
          top: $m;
          left: 15px;

          border-radius: 3px;
        }

        img + a + p {
          display: inline;
        }
      }
    }

    .comment-form {
      margin: 0;

      textarea {
        width: 100%;
        height: 35px;

        resize: none;

        margin-bottom: 0;
        padding: $s;
        @include box-sizing;

        border-radius: 3px;
      }
    }
  }
}

#load-more {
  display: none;
}