body {
  background: $bodyBackgroundColor;

  font: $baseFont;

  // Hides selection globally
  // @include user-select(none);

  &.noscroll {
    // Locks scroll on document only
    overflow: hidden !important;
  }
}

// Scrollbar
*::-webkit-scrollbar {
  width:8px !important
}
::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment {
  height:10px;
  display:block;
  background-color:transparent;
}
::-webkit-scrollbar-corner {
  background-color:transparent;
}
::-webkit-scrollbar-thumb:vertical {
  border-radius:6px;
  background-color:rgba(0,0,0,0.2)
}

a {
  color: $linkColor;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

code, .code {
  font-family: $codeFontFamily;
}

canvas {
  // Hide canvas without display:none;
  // to prevent dom exceptions
  max-height:1px;
  position:absolute;
  top:-1px;
  visibility:hidden;
}

.hidden {
  display: none;
}

.hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

// CSS Tips for icons
[data-tip].tip-icon {
  &:before {
    left: 0;
  }
  &:after {
    left: -6px;
  }
}

h1.enormous {
  font-size: 80px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-shadow: 0 1px 3px rgba(0, 0, 0, .4), 0 0 30px rgba(0, 0, 0, .075);
}

// Placeholder for loading images
img.avatar, img.group-photo {
  @include inclined-stripes(transparent, 50px, rgba(0, 0, 0, .2));
}