body {
  background: $bodyBackgroundColor;

  font: $baseFont;
  color: $black;

  // Hides selection globally
  // @include user-select(none);

  overflow-y: scroll;

  &.noscroll {
    // Locks scroll on document only
    overflow: hidden !important;
  }
}

// Vertical alignment for nested block elements
* {
  vertical-align: top
}

// Scrollbar
.scrollable::-webkit-scrollbar {
  height: 16px;
  overflow: visible;
  width: 10px;
}

.scrollable::-webkit-scrollbar-button {
  height: 0;
  width: 0;
}

.scrollable::-webkit-scrollbar-corner {
  background: transparent;
}

.scrollable::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,.2);
  background-clip: padding-box;
  border: solid transparent;
  border-width: 1px 1px 1px 2px;
  min-height: 28px;
  padding: 100px 0 0;
  box-shadow: inset 1px 1px 0 rgba(0,0,0,.1),inset 0 -1px 0 rgba(0,0,0,.07);
}

.scrollable::-webkit-scrollbar-track {
  background-clip: padding-box;
  border: solid transparent;
  border-width: 0 0 0 4px;
}

a {
  color: $linkColor;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

code, .code {
  font-family: $codeFontFamily;
}

// Hide canvas without display:none;
// to prevent dom exceptions
canvas {
  max-height:1px;
  position:absolute;
  top:-1px;
  visibility:hidden;
}

// No margins for forms and inputs
form, input {
  margin: 0;
}

input[type="submit"] {
  position: absolute;
  visibility: hidden;
}

#spinner {
  position: fixed;
  top: 0; left: 0; right: 0;

  display: none;
  z-index: 4;
  @extend .mtl;

  text-align: center;
  line-height: 40px;
  font-size: 2em;
}

#main {
  padding-top: $bodyPadding + 80px;
  padding-bottom: $bodyPadding;
}

.hidden {
  display: none;
}

.hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

// CSS Tips for icons
[data-tip].tip-icon {
  &:before {
    left: 0;
  }
  &:after {
    left: -6px;
  }
}

h1.enormous {
  font-size: 80px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-shadow: 0 1px 3px rgba(0, 0, 0, .4), 0 0 30px rgba(0, 0, 0, .075);
}

// Placeholder for loading images
img.encrypted-image, img.encrypted-avatar, img.placeholder-avatar {
  @include inclined-stripes(transparent, 25px, rgba(0, 0, 0, .2));
}

// Avatar styles and sizes
.avatar-post {
  width: $avatarPostSize; height: $avatarPostSize;
  border-radius: $baseBorderRadius;
}
.avatar-notification {
  width: $avatarNotificationSize; height: $avatarNotificationSize;
  border-radius: $baseBorderRadius;
}
.avatar-comment {
  width: $avatarCommentSize; height: $avatarCommentSize;
  border-radius: $baseBorderRadius;
}

// Tight columns for Foundation
.row > .tight {
  @media #{$small} {
    padding-left: 0; padding-right: 0;

    &:first-child { padding-left: $column-gutter / 2; }
    &:last-child { padding-right: $column-gutter / 2; }
  }
}