// Masonry content disposition
#groups {
  ul {
    @include column-gap($bodyPadding);

    @include column-count(1);
    @media #{$small}  { @include column-count(2); }

    list-style-type: none;
    text-align: center;

    li.group-card {
      display: inline-block;

      margin-bottom: $bodyPadding;
      @extend .pal;

      background: $bodyBackgroundColor2;
      border: $baseBorderStyle;
      border-radius: $baseBorderRadius;

      text-align: left;
    }
  }
}