// Masonry content disposition
#groups {
  ul {
    @include column-gap($bodyPadding);

    @include column-count(1);
    @media #{$small}  { @include column-count(2); }

    list-style-type: none;
    text-align: center;

    li.group-card {
      width: 100%;

      display: inline-block;

      margin-bottom: $bodyPadding;
      @extend .pal;

      background: $bodyBackgroundColor2;
      border: $baseBorderStyle;
      border-radius: $baseBorderRadius;

      text-align: left;

      h4.group-name {
        margin: 0 0 0.5em 0;

        a {
          font: 200 1em/1.5em $opensans;
          color: $black;

          @include transition(color 0.2s ease);

          &:hover {
            color: lighten($black, 15%);
            text-decoration: none;
          }
        }
      }

      p.group-infos {
        font-size: 0.9em;
      }

      a.group-avatar {
        width: 100%;
      }
    }
  }
}