#login {
  margin-top: 20px;

  .title {
    text-align: center;
    margin-bottom: 20px;
  }
  
  form {
    text-align: center;
    margin: 0;

    .input-append {
      margin-right: 41px;

      input {
        width: 100%;
      }
    }
  }
}