#navbar {
  padding: 0 $bodyPadding;

  background: $bodyBackgroundColor2;
  border-bottom: $baseBorderStyle;

  ul {
    @extend .mvl;

    list-style-type: none;

    li {
      position: relative;

      display: inline-block;
      vertical-align: middle;

      margin-right: 1em; &:last-child{ margin-right: 0; }

      & > a {
        line-height: 40px;

        color: $gray;

        @include transition(color .25s);

        &:hover {
          text-decoration: none;
          color: darken($gray, 10%);
        }
      }

      a#brand {
        font: 600 1.5em $opensans;
        color: $black;
      }

      .btn {
        @extend .btn-white;
      }

      #notifications {
        span.notification-badge {
          $notificationBadgeSize: 18px;

          height: $notificationBadgeSize; width: $notificationBadgeSize;

          position: absolute;
          top: -3px; right: -3px;

          background: $danger;

          line-height: $notificationBadgeSize;
          border-radius: 3px;

          color: white;
          font-size: 0.7em;
          text-align: center;
        }

        #notifications-container {
          #notifications-content {
            padding: 5px;

            font-size: 90%;

            & > p {
              margin: 0;
              text-align: center;
            }

            .notification {
              margin-top: 5px;
              padding-bottom: 5px;
              border-bottom: $baseBorderStyle;

              &:last-child{
                padding-bottom: 0;
                border-bottom: none;
              }

              .avatar {
                width: $avatarNotificationSize;
              }
            }
          }
        }
      }

      a#user {
        font: normal 0.9em/40px $opensans;

        img {
          margin-right: 0.5em;
        }
      }
    }
  }
}