#navbar {
  position: fixed;
  left: 0; right: 0;
  z-index: 3;

  padding: 0 $bodyPadding / 2;

  background: $bodyBackgroundColor2;
  border-bottom: $baseBorderStyle;

  ul {
    @extend .mvl;

    list-style-type: none;

    li {
      position: relative;

      display: inline-block;
      vertical-align: middle;

      margin-right: 1em; &:last-child{ margin-right: 0; }

      & > a {
        line-height: 40px;

        color: $gray;

        @include transition(color .25s);

        &:hover {
          text-decoration: none;
          color: darken($gray, 10%);
        }

        &.btn {
          @extend .btn-white;

          width: 40px;
          padding: 0;

          text-align: center;

          border-radius: 50%;
        }
      }

      &#brand {
        a {
          font: 600 1.5em $opensans;
          color: $black;
        }

        @media #{$breakpointSmall} { display: none; }
      }

      &#group-selector {
        display: none; // will be dynamically shown
        width: 55%;

        overflow-x: hidden;

        @media #{$breakpointSmall} {
          width: 60%;

          position: absolute;
          left: 50%;
          @include transform(translateX(-50%));

          margin: 0;

          text-align: center;
        }

        @media #{$breakpointLarge} { width: 70%; }

        font: 200 1.2em $opensans;
        white-space: nowrap;

        ul {
          list-style-type: none;
          margin: 0;

          line-height: 40px;

          li {
            margin: 0;

            a {
              line-height: inherit;

              &:hover { color: inherit; }
            }

            // Grayed out title
            &.title {
              color: $gray;

              a:hover { text-decoration: underline; }

              @media #{$breakpointSmall} { display: none; }
            }

            &.group {
              overflow-x: hidden;
              text-overflow: ellipsis;
              max-width: 76%; // I know
              @media #{$breakpointSmall} { max-width: 100%; }
            }

            // Separators
            &::after {
              content: "\f101";
              font-family: 'FontAwesome';
              width: 1.2em;
              text-align: center;
              display: inline-block;
              margin: 0 .5em 0 .4em;

              color: $gray;
            }
            &:last-child::after {
              display: none;
            }
          }
        }
      }

      #notifications {
        span.notification-badge {
          $notificationBadgeSize: 18px;

          height: $notificationBadgeSize; width: $notificationBadgeSize;

          position: absolute;
          top: -3px; right: -3px;

          background: $danger;

          line-height: $notificationBadgeSize;
          border-radius: 3px;

          color: white;
          font-size: 0.7em;
          text-align: center;
        }
      }

      #notifications-container {
        padding-right: 7px;
        z-index: 3;

        #notifications-content {
          max-height: 350px;

          padding: 5px;
          overflow-y: auto;

          font-size: 90%;

          .notification {
            margin-bottom: 7px;
            padding: 0 0 7px 7px;

            border-bottom: $baseBorderStyle;

            font-size: 0.9em;

            &:last-child{
              margin-bottom: 0;
              border-bottom: none;
            }

            p {
              margin: 0;
            }

            p.empty-notification {
              color: $gray;
              text-align: center;
            }

            p.notification-content {
              a.notification-unread {
                display: inline-block;
                float: right;

                padding-top: 1px; // lol
                margin-left: 1em;

                font-size: 0.9em;
                color: $linkColor;
                text-shadow: 0 1px 6px rgba($linkColor, 0.5);

                @include transition(color 0.2s ease);

                &:hover {
                  text-decoration: none;
                  color: lighten($linkColor, 15%);
                }
              }
            }

            p.notification-infos {
              text-align: left;
              font-size: 0.8em;
              color: $darkgray;
            }
          }
        }
      }


    }
  }
}