#settings {
  $marginBetween: 20px;

  h1 {
    margin-top: 0; margin-bottom: $marginBetween;
    font: 200 2em/1.2em $opensans;

    i {
      float: right;
      line-height: inherit;

      color: $gray;
    }
  }

  h3 {
    margin-top: 0;
    margin-bottom: $marginBetween;
    font: 200 1.3em/1.5em $opensans;

    padding-top: $marginBetween; &:first-child { padding-top: 0 }
    border-top: $baseBorderStyle; &:first-child { border-top: 0 };
  }

  .warning { color: $danger; }

  .settings-panel {
    padding: 2em;

    background: $bodyBackgroundColor3;

    border: $baseBorderStyle;
    border-radius: $baseBorderRadius;

    font: 200 1em/1em $opensans;

    *:last-child { margin-bottom: 0; }

    input[type="text"] {
      margin-bottom: $marginBetween/2;
      border: $baseBorderStyle;

      &:focus { border-color: $success; }
    }

    form {
      margin-bottom: $marginBetween;

      a.btn {
        display: block;
        text-align: center;
      }
    }

    .explanation-box {
      margin-bottom: $marginBetween;
      font: 200 .9em $opensans;

      p {
        margin-top: 0;
        margin-bottom: $marginBetween/2; &:last-child { margin-bottom: 0; }
      }
    }
  }
}