#userlist {
  position: relative;

  #userlist-header {

    $userlistHeight: 30px;

    height: $userlistHeight;

    margin: 15px 0;

    @include clearfix;

    font-size: 18px;
    line-height: $userlistHeight;

    // Omnibar
    input#userlist-omnibar {
      height: 30px;
      width: 100%;

      margin: 0;
      padding: 0; padding-right: 105px;
      border: 0;

      @include box-sizing;

      float: left;

      background: transparent;

      font-size: inherit;
      color: inherit;

      &[readonly] {
        cursor: pointer;
      }
      &.locked {
        cursor: default;
      }
    }

    // Search button
    a.search {
      float: right;

      padding-right: 15px;

      position: relative;
      top: -$userlistHeight;

      color: $base;
      font-size: 14px;

      &:hover {
        color: lighten($base, 15%);
        text-decoration: none;
      }
    }

    // Buttons
    .btn-icon-group {
      float: right;

      position: relative;
      top: -$userlistHeight;

      a.btn {
        padding: 6px 10px 4px 10px;
      }
    }

    #locked-return {
      display: none;
    }
  }

  #invite {
    display: none;
  }

  #list {
    $picturesMargin: 2px;

    position: absolute;
    left: -$picturesMargin; right: -$picturesMargin;

    #list-container {
      box-sizing: border-box;
      display: table;

      // Centers the list because of the slight offset
      // until a better fix is found
      padding-left: $picturesMargin;
    }

    &.sorted-by-picture {
      a.avatar {
        display: inline-table;

        // Defaults to 5 per row
        width: 20%;

        padding: $picturesMargin;
        @include box-sizing;

        @media (min-width: 980px) and (max-width: 1199px) {
          width: 25%;
        }
        @media (min-width: 768px) and (max-width: 979px) {
          width: 33.3%;
        }

        img {
          width: 100%;

          @include border-radius(3px);
        }

        &.invite-toggle {
          position: relative;

          color: $success;
          background: rgba(255, 255, 255, 0.1);

          &:hover {
            text-decoration: none;
            color: lighten($success, 15%);
          }

          img {
            opacity: 0.8;
            border: 1px solid;
            @include box-sizing;
          }

          i {
            position: absolute;
            top: 50%; left: 50%;

            $inviteMemberFontSize: 22px;

            margin-top: -($inviteMemberFontSize / 2);
            margin-left: -($inviteMemberFontSize / 2);

            padding-left: 1px; // Compensate for icon width

            font-size: $inviteMemberFontSize;
          }
        }
      }
    }
  }
}