// Text fields
textarea, input[type="text"], input[type="password"], input[type="datetime"],
input[type="datetime-local"], input[type="date"], input[type="month"],
input[type="time"], input[type="week"], input[type="number"], input[type="email"],
input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
  height: 40px;
  padding: 8px 5px;

  border: 2px solid $lightgray;

  color: $base;
  font: $baseFont;
  text-indent: 6px;
  -webkit-appearance: none;

  border-radius: $baseBorderRadius;
  @include box-shadow(none);

  @include placeholder {
    color: desaturate(lighten($base, 45%), 15%);
  }

  @include transition(.25s linear);

  &:focus {
    @include box-shadow(none);
  }

}

//Input append

.input-vertical-append {
  input {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }

  .input-append {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
  }
}

// Disabled state
input[disabled], input[readonly], textarea[disabled], textarea[readonly] {
  background-color: mix($gray, white, 10%);
  border-color: mix($gray, white, 40%);
  color: mix($gray, white, 40%);
  cursor: default;
}

// Textarea
textarea {
  height: auto;
  font-size: 105%;
  line-height: 24px;
  padding: 5px 11px;
  text-indent: 0;
}