/*====================================================
CSS Tooltips by Adam Whitcroft
https://github.com/AdamWhitcroft/CSS.Tooltips
Modified and SCSS'd by @christophemarois on github;
====================================================*/

$tooltipOffset:       -10px;
$tooltipArrowOffset:  13px;

$tooltipTransparency: 0.8;
$tooltipTextColor:    white;

$tooltipDefault:  #1A1A1A;
$tooltipInfo:     $info;
$tooltipSuccess:  $success;
$tooltipWarning:  $warning;
$tooltipDanger:   $danger;

[data-tip]:not([data-tip=""]) {
  position:relative;

  // Trigger
  &:hover {
    &::before, &::after { display: block; }
  }

  // Arrow
  &::before {
    width:0; height:0;

    position:absolute;
    top: -5px; left: $tooltipOffset + $tooltipArrowOffset;
    z-index:8;

    content:'';
    display:none;

    border:5px solid;
    border-top-color: rgba($tooltipDefault, $tooltipTransparency);
    border-right-color:transparent;
    border-bottom-color:transparent;
    border-left-color:transparent;

    font-size:0; line-height:0;
  }

  // Box
  &::after {
    position:absolute;
    top: -35px; left: $tooltipOffset;
    z-index:8;

    content:attr(data-tip);
    display:none;

    padding:5px 8px;

    background: rgba($tooltipDefault, $tooltipTransparency);
    color: $tooltipTextColor;

    font-size: 1em;
    font-weight: normal;
    white-space:nowrap;
    word-wrap:normal;

    border-radius: 3px;
  }

  // Right gravity
  &.tip-right::after {
    left: auto; right: $tooltipOffset;
  }

  // Colors
  &.tip-info {
    &::before {
      border-top-color: rgba($tooltipInfo, $tooltipTransparency);
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-left-color: transparent;
    }
    &::after {
      background: rgba($tooltipInfo, $tooltipTransparency);
    }
  }

  &.tip-success {
    &::before {
      border-top-color: rgba($tooltipSuccess, $tooltipTransparency);
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-left-color: transparent;
    }
    &::after {
      background: rgba($tooltipSuccess, $tooltipTransparency);
    }
  }

  &.tip-warning {
    &::before {
      border-top-color: rgba($tooltipWarning, $tooltipTransparency);
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-left-color: transparent;
    }
    &::after {
      background: rgba($tooltipWarning, $tooltipTransparency);
    }
  }

  &.tip-danger {
    &::before {
      border-top-color: rgba($tooltipDanger, $tooltipTransparency);
      border-right-color: transparent;
      border-bottom-color: transparent;
      border-left-color: transparent;
    }
    &::after {
      background: rgba($tooltipDanger, $tooltipTransparency);
    }
  }
}