.comments

  -# Show collapsed comments

  .show-more{ class: '{{comments_collapsed}}' }
    %a.btn{href: '#'}
      Show <span>{{comments_collapsed_count}}</span> hidden comments

  -# Comments

  {{#each comments}} {{> feed-comment}} {{/each}}

-# Comment box

.comment-form
  %textarea.autogrow{ name: 'content', maxlength: 1500, placeholder: '{{t "feed.comment_post"}}' }