&nbsp;

%a.confirm-invitation{href: '#', 'data-invite-id' => '{{id}}',
                                 'data-invite-invitee_id' => '{{invitee_id}}',
                                 'data-invite-invitee_full_name' => '{{invitee_full_name}}',
                                 'data-invite-accept'     => '{{accept}}',
                                 'data-invite-group_id'   => '{{group_id}}'}
  Confirm

&nbsp;/&nbsp;

%a.cancel-invitation{ href: '#', :'data-invite-id' => '{{id}}' }
  Cancel