{{#if posts}} |
  {{#each posts}} |
    {{> feed-post.hbs}} |
  {{/each}} |
{{else}}

.row.empty-group-notice
  .span6.offset1
    %h4
      Welcome to your group.
    
    %p
      It's lonely out here. Do you want to
    
      %a#add-user-first{href: '#'}
        invite someone
      ?

{{/if}}