.comment-box.hidden{ id: '{{id}}', :'data-encrypted' => '{{#if encrypted}}true{{/if}}', :'data-timestamp' => '{{created_at}}' }
  -# Avatar
  {{#with commenter}} {{> feed-avatar.hbs}} {{/with}}

  -# Delete button
  {{#if deletable}}
  %a.comment-delete.btn.btn-white.hint--left{ href: '#', :'data-hint' => 'Delete' }
    %i.icon-remove
  {{/if}}

  -# Commenter name (will dynamically be put in .collapsable's first <p>)
  %a.commenter-name{href: '#'} {{commenter.name}}
  <div class="collapsable">{{content}}</div>

  -# Footer
  .comment-footer

    %a.time{ href: '#' }
      %time.timeago{ datetime: '{{created_at}}' }

    %span &middot;

    // Like action
    %a{ href: '#', class: 'like-action {{#if likeable.liked_by_user}}active{{/if}}' }<
      %span.default-text> Like
      %span.active-text Unlike

    // Like count
    %span{ partial: 'feed-like-count' }
      {{> feed-like-count.hbs}}