// Like count
{{#with likeable}}
{{#compare like_count '>' 0}}
%span ·
%a.like-count.hint--top{ href: '#', :'data-hint' => '{{liker_names}}' }
  %i.icon-thumbs-up-alt
  %span {{like_count}}

{{/compare}}
{{/with}}