{{#if placeholder}}

%img.avatar{src: '/img/placeholder.gif'}

{{else}}

%img.avatar.slave-avatar{src: "data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7", 'data-user-id' => '{{id}}'}

{{/if}}