{{#if posts}} |
  {{#each posts}} |
    {{> feed-post.hbs}} |
  {{/each}} |
{{else}}

#empty-group-notice
  %h4
    Welcome to your group.

  %p
    It's lonely out here. Do you want to
    <a href="#" id="add-user-first">invite someone</a>?

{{/if}}