.comments
  // Show collapsed comments
  .show-more{ class: '{{comments_collapsed}}' }
    %a{href: '#'}
      %i.icon-comment-alt
      View <span>{{comments_collapsed_count}}</span> more comment(s)

  // Comments
  {{#each comments}} {{> feed-comment.hbs}} {{/each}}

// Comment box
.comment-form
  %textarea{ name: 'content', maxlength: 1500, placeholder: 'Comment on this post...' }