%h4
  Members ({{users.length}})

  %span.actions
    %a#add-user.btn.btn-white.hint--left{ href: '#', :'data-hint' => 'Send invite' }
      %i.icon-plus

%ul#userlist.scrollable

  -# Invites
  {{#if invite}}

  {{debug}}

  #invites
    // #invites-header Awaiting confirmation

    {{#each invite}}

    %li.invite
      %span{ title: '{{invitee_full_name}}' } {{invitee_full_name}}

      .invite-actions<

        // If inviter is awaiting invitee's acceptance, show link to token
        {{#compare state 1}}
        // Replace by GET request with only invite ID, which returns the rest.
        %a.invite-pending.btn.btn-white.hint--left{ href: '#', :'data-hint' => 'View key',
                                                    'data-invite-id'         => '{{id}}',
                                                    'data-invite-invitee_id' => '{{invitee_id}}',
                                                    'data-invite-email'      => '{{invitee_full_name}}',
                                                    'data-invite-group_id'   => '{{group_id}}' }>
          %i.icon-key
        {{/compare}}

        // If invitee is awaiting inviter's confirmation, show link to confirmation
        {{#compare state 2}}
        // Replace by GET request with only invite ID, which returns the rest.
        %a.invite-confirm.btn.btn-white.hint--left{ href: '#',:'data-hint' => 'Confirm',
                                                    'data-invite-id'         => '{{id}}',
                                                    'data-invite-invitee_id' => '{{invitee_id}}',
                                                    'data-invite-accept'     => '{{accept}}',
                                                    'data-invite-invitee_full_name' => '{{invitee_full_name}}',
                                                    'data-invite-group_id'   => '{{group_id}}' }>
          %i.icon-ok
        {{/compare}}

        // In either case, show delete button
        %a.invite-delete.btn.btn-white.hint--left{ href: '#', :'data-hint' => 'Cancel invitation' }
          %i.icon-trash

    {{/each}}

  {{/if}}

  -# User list

  #users

  {{#each users}}

  %li{ id: '{{id}}' }

    -# Delete button
    {{#if deletable}}
    %a.user-delete.btn.btn-white.hint--left{ href: '#', :'data-hint' => 'Delete' }
      %i.icon-remove
    {{/if}}

    -# User link
    %a{ href: '#', 'data-tip' => '{{full_name}}', 'class' => 'user {{#if is_current_user}}current{{/if}}'}

      // userlist-avatar should disappear in favor of user-avatar
      %img.user-avatar.userlist-avatar{ src: "data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7",
                                        'data-user-id'   => '{{id}}',
                                        'data-avatar-id' => '{{avatar.id}}',
                                        'data-keys'      => '{{avatar.keys}}' }

      %span{ title: '{{full_name}}' }
        {{full_name}}

  {{/each}}