.row
  #feed-form-avatar.span1
    %a{:'data-tip' => 'Change your profile picture'}
      {{#with user}} {{> feed-avatar}} {{/with}}
  %input#upload_avatar.hidden{type: 'file', name: 'account-picture'}

  %form#feed-form.span6{method: 'post'}

    #drag-helper
      %p Drag & Drop files here

    %textarea.autogrow{name: 'content', maxlength: '5000', placeholder: '{{t "feed.placeholder"}}'}
    %input#encrypted_content{type: 'hidden', name: 'encrypted_content'}
    %input#upload_id{type: 'hidden', name: 'upload_id'}
    %input#mentioned_users{type: 'hidden', name: 'mentioned_users'}
    %input.hidden#upload_file{type: 'file'}

    .progress.progress-striped.active
      #progress_bar.bar

    .textarea-supplement
      .post-button.pull-right
        %button.btn{type: 'submit'} Post

      .textarea-supplement-bar
        %p.textarea-supplement-tools.pull-right
          // Nothing here

        %p.textarea-supplement-info
          {{t 'upload.drag_and_drop_files_here'}}

          %a#choose_file{href: '#'}
            {{t 'upload.choose_a_file'}}

        %p.textarea-supplement-file.hidden