%form#feed-form{ method: 'post' }
  %a#feed-form-avatar
    %span
      %i.icon-picture

    {{#with user}} {{> feed-avatar}} {{/with}}

  %input#upload_avatar.hidden{ type: 'file', name: 'account-picture' }

  // Drag-and-drop helper
  #drag-helper
    %p Drag & Drop files here

  // Progress bar (hidden for now)
  .progress.progress-striped.active.hidden
    #progress_bar.bar

  // Textarea
  #textarea-holder
    %textarea.autogrow{ name: 'content', maxlength: '5000', placeholder: "What's happening?" }

  // Hidden encryption-related inputs
  %input#encrypted_content{ type: 'hidden', name: 'encrypted_content' }
  %input#mentioned_users{ type: 'hidden', name: 'mentioned_users' }

  // Hidden upload-related inputs
  %input#upload_id{ type: 'hidden', name: 'upload_id' }
  %input#upload_file.hidden{ type: 'file' }

  #upload-box
    .upload-row
      %span.icon
        %i.icon-spinner.icon-spin

      %span.filename
      %span.filesize

  .row.collapse
    .columns.small-24.large-20
      // Attachment box
      %ul#attachments
        %li.title Attach:
        %li
          %a{ href: '#', :'data-upload-trigger' => 'photo' }
            %i.icon-camera
            Photo
        %li
          %a{ href: '#', :'data-upload-trigger' => 'video' }
            %i.icon-film
            Video
        %li
          %a{ href: '#', :'data-upload-trigger' => 'file' }
            %i.icon-file
            File

    .columns.small-24.large-4
      %a.btn.btn-success{ href: '#', role: 'submit' } Post