.notification.media{id: '{{id}}'}

  .pull-left
  
    // @Chris - No avatars for now
    //{{#if owner}} {{#with owner}}
    //
    //.user-avatar{'data-id' => '{{avatar.id}}', 
    //            'data-size' => '{{avatar.size}}',
    //            'data-key' => '{{avatar.key}}'}
    //{{> feed-avatar}}
    //
    //{{/with}} {{/if}}
    
  .media-body
  
    .media
    
      {{{html}}}
      
      (
      %a.clear-notification{href: '#'} ×
      )