.notification.media{id: '{{id}}'}

  .pull-left
  
    {{#if avatar}}
    {{#with avatar}} {{> feed-avatar}} {{/with}}
    {{/if}}
    
  .media-body
  
    .media
    
      {{{html}}}
      
      (
      %a.clear-notification{href: '#'} ×
      )