#feed-panel
  {{#with group.avatar}}

  .group-photo
    %a#group-photo-edit.btn.btn-white.hint--left{ href: '#', :'data-hint' => 'Change photo' }
      %i.icon-picture

    // Hidden file upload
    %form
      %input#group-photo-file{ type: 'file', name: 'avatar' }

    {{#if placeholder}}
    %img{ src: '/img/groupavatar.jpg' }
    {{else}}
    %img.encrypted-image{src: empty_image, alt: 'Encrypted image', 'data-attachment-id' => '{{id}}', 'data-attachment-key' => '{{key}}', 'data-attachment-type' => 'image', 'data-attachment-group' => '{{group_name}}'}
    {{/if}}

  {{/with}}

  // Userlist
  {{> feed-users}}