.post.row{id: '{{id}}', 'data-encrypted' => '{{encrypted}}'}
  // Post gutter
  .post-gutter.span1
    // Avatar.
    {{#with owner}} {{> feed-avatar}} {{/with}}

    // Updated at timestamp.
    //{{#if show_updated_at}}

    //{{#with date}} {{> feed-date}} {{/with}}

    //{{/if}}

  // Central feed space.
  .post-content.span6
    .post-infos
      .post-tools
        %a{href: '#', 'data-tip' => '{{full_time}}'}
          {{> feed-time}}

        &sdot;

        {{#with likeable}}

        %a{ href: '#', 'data-tip' => '{{liker_names}}',
            class: 'post-likes tip-icon {{#if liked_by_user}}active{{/if}}' }
          %span {{like_count}}
          %i.icon-heart

        {{/with}}

        &sdot;

        %a.post-comments.tip-icon{href: '#', 'data-tip' => 'Comment'}
          %span {{comment_count}}
          %i.icon-comments

        {{#if deletable}}

        &sdot;

        %a.post-delete.tip-icon{href: '#', 'data-tip' => "Delete post"}
          %i.icon-remove

        {{/if}}

      %strong {{owner.name}}

    .collapsable
      .encrypted_notice
        %i This post is encrypted.

      .encrypted
        {"content": {{content}}, "key": "{{key}}"}

    {{#if attachment}}

    {{#with attachment}} {{> feed-attachment}} {{/with}}

    {{/if}}

    {{> feed-comments}}