.post{ id: '{{id}}', :'data-encrypted' => '{{encrypted}}' }
  // Avatar
  {{#with owner}} {{> feed-avatar}} {{/with}}

  .post-indent
    // Post header
    .post-header
      // Owner name
      %p.post-header-infos
        {{owner.name}}

        // Post time
        %a.time{ href: '/{{group_id}}/posts/{{id}}', :'data-hbs' => '' }
          %time.timeago{ datetime: '{{created_at}}' }

      // Delete button
      {{#if deletable}}
      %a.btn.btn-white.post-delete.hint--left{ href: '#', :'data-hint' => 'Delete' }
        %i.icon-remove
      {{/if}}

    // Post content
    .post-content
      // Collapsable content
      .collapsable
        .encrypted_notice
          %i This post is encrypted.

        .encrypted
          {"content": {{content}}, "key": "{{key}}"}

      // Attachment
      {{#if attachment}}
      .attachment
        {{#with attachment}} {{> feed-attachment}} {{/with}}
      {{/if}}

    // Post footer
    .post-footer
      .row
        // Actions
        .post-footer-actions.columns.small-12
          // Like action
          %a{ href: '#', class: 'like-action {{#if likeable.liked_by_user}}active{{/if}}' }<
            %span.default-text> Like
            %span.active-text Unlike

          &sdot;

          // Comment action
          %a.comment-action{ href: '#' }
            Comment

        // Informations
        .post-footer-informations.columns.small-12
          // Like count
          {{#with likeable}}
          %a.like-count.hint--top{ href: '#', 'data-hint' => '{{liker_names}}' }<
            %span {{like_count}}
            Likes
          {{/with}}

          &sdot;

          // Comment count
          %span.comment-count {{comment_count}}
          Comments

    .post-comments
      {{> feed-comments}}