.post{id: '{{id}}', :'data-encrypted' => '{{encrypted}}'}
  // Post header
  .post-header
    // Avatar
    {{#with owner}} {{> feed-avatar}} {{/with}}

    // Owner name
    {{owner.name}}

    // Post time
    %time.timeago{datetime: '{{created_at}}'}

    // Delete button
    {{#if deletable}}
    %a.post-delete.tip-icon{href: '#', 'data-tip' => "Delete post"}
      %i.icon-remove
    {{/if}}

  // Post content
  .post-content
    // Collapsable content
    .collapsable
      .encrypted_notice
        %i This post is encrypted.

      .encrypted
        {"content": {{content}}, "key": "{{key}}"}

    // Attachment
    .attachment
      {{#if attachment}}
      {{#with attachment}} {{> feed-attachment}} {{/with}}
      {{/if}}

  // Post footer
  .post-footer
    .row
      // Actions
      .post-footer-actions.columns.small-6
        // Like action
        {{#with likeable}}
        %a{ href: '#', class: 'like-action {{#if liked_by_user}} active{{/if}}' }
          %span.default-text Like
          %span.active-text Unlike
        {{/with}}

        &sdot;

        // Comment action
        %a.comment-action{ href: '#' }
          Comment

      // Informations
      .post-footer-informations.columns.small-6
        // Like count
        %a.like-count{ href: '#', 'data-tip' => '{{liker_names}}' }
          <span>{{like_count}}</span> Likes

        &sdot;

        // Comment count
        <span>{{comment_count}}</span> Comments

  .post-comments
    [Comments]
    //{{> feed-comments}}