%li{ id: '{{id}}' }
  {{#if avatar}}
  .user-avatar{'data-id' => '{{avatar.id}}',
              'data-size' => '{{avatar.size}}',
              'data-key' => '{{avatar.key}}'}
  {{/if}}

  %a{ href: '#', 'data-tip' => '{{full_name}}', 'class' => '{{#if is_current_user}}current{{/if}}'}

    %img.encrypted-avatar.userlist-avatar{ src: empty_image, 'data-user-id' => '{{id}}'}

    %span {{full_name}}