.user.hidden{id: '{{id}}'}

  {{#if avatar}}

  .user-avatar{'data-id' => '{{avatar.id}}', 
              'data-size' => '{{avatar.size}}',
              'data-key' => '{{avatar.key}}'}
  {{/if}}

{{#if is_current_user}}

// Nothing

{{else}}

%a.avatar{href: '#', 'data-tip' => '{{full_name}}'}
  %img.encrypted-avatar.userlist-avatar{ src: empty_image, 'data-user-id' => '{{id}}'}

{{/if}}