#userlist
  #userlist-header
    // False-title / omnibar
    %input{id: 'userlist-omnibar', type: 'text', value: 'Members (13)', placeholder: 'Search', readonly: ''}

    // Sorting options
    .btn-group.btn-icon-group.pull-right
      %a.btn{href: '#', 'data-tip' => 'Sort by user photo'}>
        %i.icon-th
      %a.btn{href: '#', 'data-tip' => 'Sort by name'}
        %i.icon-list

    #locked-return.btn-group.btn-icon-group.pull-right
      %a.btn{href: '#', 'data-tip' => 'Go back'}>
        %i.icon-reply

    // Search button
    %a.search.tip-icon{href: '#', 'data-tip' => 'Search for users'}
      %i.icon-search

  %form#invite{method: 'post'}

    .invite-user
      %input#email{type: "text", name: "email",
                   required: '',
                   maxlength: 30,
                   'data-validation-regex-regex' => '^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$',
                   'data-validation-regex-message' => 'This doesn\'t look like an e-mail.'}

      %input.btn.btn-info{type: 'submit', value: '{{t "admin.invite"}}'}
    .invited-user.hidden
      Your invite has been sent.
    
  {{#if invite}}
  {{#each invite}}
  %a.invite-confirm{href: '#', 'data-invite-id'         => '{{id}}',
                               'data-invite-token'      => '{{token}}',
                               'data-invite-invitee_id' => '{{invitee_id}}',
                               'data-invite-k_P'        => '{{k_P}}',
                               'data-invite-PA_k'       => '{{PA_k}}',
                               'data-invite-p_sB'       => '{{p_sB}}',
                               'data-invite-sB_salt'    => '{{sB_salt}}',
                               'data-invite-a_P'        => '{{a_P}}'}
    Approve {{invitee_full_name}} >
  {{/each}}
  {{/if}}

  #list.sorted-by-picture
    #list-container
    
      {{#each users}}
      {{> feed-user}}
      {{/each}}
      
      // Invite link is like a normal avatar
      %a.avatar.invite-toggle{href: '#'}
        // 1x1 transparent
        %img{ src: 'data:image/gif;base64,R0lGODlhAQABAIAAAP7//wAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==' }
        %i.icon-plus-sign