%p{ style: 'margin: 0 0 1em 0;' }
  Hi,

%p{ style: 'margin: 0 0 1em 0;' }
  You've been granted access to a new group on Syme.<br />
  All you need to do is log on to your account to start sharing.

%p{ style: 'margin: 0 0 1em 0;' }
  Sincerely,

%p{ style: 'margin: 0;' }
  The Syme Team