%p{ style: 'margin: 0 0 1em 0;' }
  Hi,

%p{ style: 'margin: 0 0 1em 0;' }
  Someone has accepted your invitation to join a group on Syme.<br />
  You just need to log in to Syme and confirm to grant him or her access.

%p{ style: 'margin: 0 0 1em 0;' }
  Sincerely,

%p{ style: 'margin: 0;' }
  The Syme Team