%p{ style: 'margin: 0 0 1em 0;' }
  Hi there,

%p{ style: 'margin: 0 0 1em 0;' }
  You’re in! Welcome to Syme, the encrypted social network.

%p{ style: 'margin: 0 0 1em 0;' }
  We’re glad to have you on board. Don’t hesitate to get in touch
  if you have any questions or comments.

%p{ style: 'margin: 0 0 1em 0;' }
  Sincerely,

%p{ style: 'margin: 0 0 1em 0;' }
  The Syme Team.

%p{ style: 'margin: 0;' }
  %a{ href: 'https://chrome.google.com/webstore/detail/syme/kebgjahkgfpaeidbimpiefobehkjmani/', target: '_blank', style: 'display: block; width: 70%; margin: 0 auto; text-align: center; background-color:#f5f5f5; padding: 15px 10px; color: #423e3e; text-decoration: none; border-radius: 7px; line-height: 30px; position: relative; border: 1px solid #ccc'}
    %img{ src: 'https://upload.wikimedia.org/wikipedia/commons/8/87/Google_Chrome_icon_(2011).png', style: 'height: 30px; width: 30px; margin-right: 10px; position: absolute; left: 30px; top: 15px' }
    Download the Chrome Extension