%p{ style: 'margin: 0 0 1em 0;' }
  Hey #{locals[:user].full_name},

%p{ style: 'margin: 0 0 1em 0;' }
  Welcome to Syme, the encrypted social network. All we need to do is
  verify this is really your email address by clicking on this
  <a href="http://www.getsyme.com/verify/#{locals[:user].id}">link</a>.

%p{ style: 'margin: 0 0 1em 0;' }
  If you think you received this message by mistake, just reply
  'unsubscribe' to this e-mail and we won't send you any more notifications.

%p{ style: 'margin: 0 0 1em 0;' }
  Sincerely,

%p{ style: 'margin: 0;' }
  The Syme Team.