%p{ style: 'margin: 0 0 1em 0;' }
  Hello,

%p{ style: 'margin: 0 0 1em 0;' }
  You've been invited to join a group on Syme, the encrypted social network.
  All you need to do is download the
  %a{ href: 'https://chrome.google.com/webstore/detail/syme/kebgjahkgfpaeidbimpiefobehkjmani/' } Chrome extension
  and sign up to get started.

%p{ style: 'margin: 0 0 1em 0;' }
  Sincerely,

%p{ style: 'margin: 0;' }
  The Syme Team.