%p{ style: 'margin: 0 0 1em 0;' }
  Hi,

%p{ style: 'margin: 0 0 1em 0;' }
  You've been invited to join a group on Syme, the encrypted
  social network. Log on to your Syme account to accept the invitation.

%p{ style: 'margin: 0 0 1em 0;' }
  Sincerely,

%p{ style: 'margin: 0;' }
  The Syme Team.