%p{ style: 'margin: 0 0 1em 0;' }
  Hi there,

%p{ style: 'margin: 0 0 1em 0;' }
  You’re in! Welcome to Syme, a free and easy way to share
  privately and securely with groups.

%p{ style: 'margin: 0 0 1em 0;' }
  All you need to do to get started is download the Chrome extension below.

%p{ style: 'margin: 2em 0;' }
  %a{ href: 'https://chrome.google.com/webstore/detail/syme/kebgjahkgfpaeidbimpiefobehkjmani/', target: '_blank', style: 'display: block; width: 70%; margin: 0 auto; text-align: center; font-size: 1.3em; font-weight: normal; background-color:#F5F5F5; padding: 15px 10px; color: #000; text-decoration: none; border-radius: 3px; line-height: 30px; border: 1px solid #ccc'}
    Download for Chrome

%p{ style: 'margin: 0 0 1em 0;' }
  We’re glad to have you on board. Don’t hesitate to get in touch by
  replying to this email.