%p{ style: 'margin: 0 0 1em 0;' }
  Hi there,

%p{ style: 'margin: 0 0 1em 0;' }
  You’re in! Welcome to Syme, the encrypted social network. All you
  need to do is to
  %a{ href: 'https://chrome.google.com/webstore/detail/syme/kebgjahkgfpaeidbimpiefobehkjmani/' } install Syme
  to get started.

%p{ style: 'margin: 0 0 1em 0;' }
  We’re glad to have you on board. Don’t hesitate to get in touch
  if you have any questions or comments.

%p{ style: 'margin: 0 0 1em 0;' }
  Sincerely,

%p{ style: 'margin: 0;' }
  The Syme Team.